<!DOCTYPE html>
<html lang="en">

    {% load static %}
    {% load custom_tags %}



    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/alarm_detail.css' %}">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    
    <body>

        {% include 'navbar.html' %}

        <div class="alarm_detail-container content">
            {% if alarms|length == 0 %}
            <p class="alarm_detail-notice ">아직 알람이 없습니다</p>
            {% else %}
            {% for alarm in alarms %}
            <div class="alarm_detail-item">

                <span class="alarm_detail-title">  
                    {% if alarm.type == 0 %}
                    멤버 좋아요
                    {% elif alarm.type == 1 %}
                    프로젝트 좋아요
                    {% elif alarm.type == 2 %}
                    멤버 스크랩
                    {% elif alarm.type == 3 %}
                    프로젝트 스크랩
                    {% elif alarm.type == 4 %}
                    프로젝트 지원
                    {% elif alarm.type == 5 %}
                    프로젝트 승인
                    {% elif alarm.type == 6 %}
                    프로젝트 초대
                    {% else %}
                    프로젝트 거절
                    {% endif %}
                </span>

                <!-- class="alarm_detail-url alarm_{{alarm.id}}" value="{{alarm.id}}"  -->
                <span class="alarm_detail-content">
                    {% if alarm.type == 0 %}
                        {% for profile in profiles %}
                            {% if alarm.like_id.from_user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 당신의 프로필을 좋아요 했습니다.
                            {% endif %}
                        {% endfor %}

                    {% elif alarm.type == 1 %}
                        {% for profile in profiles %}
                            {% if alarm.like_id.from_user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 <a href="{{alarm.project_url}}">"{{alarm.like_id.project_id}}"</a>프로젝트를 좋아요했습니다.
                            {% endif %}
                        {% endfor %}    

                    {% elif alarm.type == 2 %}
                        {% for profile in profiles %}
                            {% if alarm.scrap_id.from_user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 당신의 프로필을 스크랩 했습니다.
                            {% endif %}
                        {% endfor %} 

                    {% elif alarm.type == 3 %}
                        {% for profile in profiles %}
                            {% if alarm.scrap_id.from_user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 <a href="{{alarm.project_url}}">"{{alarm.scrap_id.project_id}}"</a>프로젝트를 스크랩 했습니다.
                            {% endif %}
                        {% endfor %} 

                    {% elif alarm.type == 4 %}
                        {% for profile in profiles %}
                            {% if alarm.member_id.user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 <a href="{{alarm.project_url}}">"{{alarm.member_id.project_id}}"</a>프로젝트 "{{alarm.member_id.duty_id}}"직무에 지원했습니다.
                            {% endif %}
                        {% endfor %} 

                    {% elif alarm.type == 5 %}
                        {% for profile in profiles %}
                            {% if alarm.member_id.user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 <a href="{{alarm.project_url}}">"{{alarm.member_id.project_id}}"</a>프로젝트 "{{alarm.member_id.duty_id}}"직무 지원을 승인했습니다.
                            {% endif %}
                        {% endfor %} 

                    {% elif alarm.type == 6 %}
                        {% for profile in profiles %}
                            {% if alarm.member_id.user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 <a href="{{alarm.project_url}}">"{{alarm.member_id.project_id}}"</a>프로젝트 "{{alarm.member_id.duty_id}}"직무에 초대했습니다.
                            {% endif %}
                        {% endfor %} 

                    {% else %}
                        {% for profile in profiles %}
                            {% if alarm.member_id.user_id == profile.user_id %}
                            <a href="{{alarm.member_url}}">"{{profile}}"</a>님이 <a href="{{alarm.project_url}}">"{{alarm.member_id.project_id}}"</a>프로젝트 "{{alarm.member_id.duty_id}}"직무 지원을 거절했습니다.
                            {% endif %}
                        {% endfor %}
                        
                    {% endif %}
                </span>

                <span class="alarm_detail-date">
                    {% DateFormatDot alarm.send_date %}
                </span>

            </div>
            
            <hr>
            
            {% endfor %}
            {% endif %}
        </div>

        {% include 'footer.html' %} 
    </body>

</html>