<!DOCTYPE html>
<html lang="en">
    
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- <script src="/js/lib/jquery-1.9.1.min.js"></script> -->
    <body>

        {% include 'navbar.html' %}

                <form class="login-container" method="POST" action="{% url 'login' %}">

                    {% csrf_token %}    

                    <p class="login-title">Login</p>
                    <p class="login-more-title">다른 서비스로 로그인</p>

                    <!-- <a href="javascript:kakaoLogin();"><img src="https://thumb.mt.co.kr/06/2021/01/2021012613224873686_1.jpg/dims/optimize/" style="height:60px;width:auto;"></a> -->
                    <div id="naver_id_login"></div>  
                    <!-- #페이스북 로그인               -->
                    <!-- <fb:login-button
                    scope="public_profile,email"
                    onlogin="checkLoginState();">
                    </fb:login-button> -->
                    
                    
                    

                    <div class="login-icon-container">
                        <a id="custom-login-btn" href="javascript:loginWithKakao();">
                            <span class="iconify" data-icon="ri:kakao-talk-fill"></span>
                        </a>
                        <a id="naverIdLogin" href=""><span class="iconify" data-icon="vs:naver-square" data-inline="false"></span></a>
                        <a href=""><span class="iconify" data-icon="akar-icons:facebook-fill" data-inline="false"></span></a>
                        <a href=""><span class="iconify" data-icon="akar-icons:google-fill" data-inline="false"></span></a>
                        <a href=""><span class="iconify" data-icon="akar-icons:github-fill" data-inline="false"></span></a>
                    </div>

                    <div class="login-line-container">
                        <hr>
                        <p class="login-line-or">또는</p>
                        <hr>
                    </div>

                    {% if error %}
                        <p class="login-error">{{error}}</p>
                    {% endif %} 

                    <div class="login-box-container">
                        <input class="login-box" name="username" type="text" placeholder="ID">
                        
                        <input class="login-box" name="password" type="password" placeholder="PW">
                    
                        <input class="login-submit" type="submit" value="로그인">
                    </div>
                    <div class="login-more-container">
                        <label class="login-keep"><input type="checkbox" name="remember_session" checked>로그인 상태 유지</label>
                        <!-- 라벨로 감싸서 전체선택 가능하게 할건지? -->
                        <a href="">비밀번호 재설정</a>
                        <hr class="login-hr">
                        <a href="{% url 'signup'  %}">회원가입</a>  
                    </div>    
                </form>
        {% include 'footer.html' %} 
    </body> 

    <script>
        Kakao.init('451c45669ba670a95f8a31e787ce122c');
        Kakao.isInitialized();
        function loginWithKakao() {
            Kakao.Auth.login({
                success: function(authObj) {
                    console.log(JSON.stringify(authObj));
                    Kakao.API.request({
                        url: '/v2/user/me',
                        data: {
                            property_keys: ["kakao_account.profile.nickname"]
                        },
                        success: function(response) {
                            console.log(response);
                            let name = response["kakao_account"]["profile"]["nickname"]
                            let id = "k"+response['id']
                            var data = {
                                'name' : name,
                                'id' : id
                            }
                            // console.log(authObj.access_token);
                            // document.write(response.nickname+"님 환영합니다.");
                            $.ajax({
                                type: "POST",
                                url: "{% url 'signup_k' %}",
                                headers: {
                                    'X-CSRFToken' : '{{csrf_token}}'
                                },
                                data: JSON.stringify(data),
                                success : function(res){
                                    // if(idChk==true)
                                    //     console.log("회원가입중...");
                                    //     $.ajax({
                                    //         url: "{% url 'signup_k' %}",
                                    //         method : "POST",
                                    //         headers: {
                                    //             'X-CSRFToken' : '{{csrf_token}}'
                                    //         },
                                    //         data : JSON.stringify({
                                    //             userId : response.id,
                                    //             userName : response.nickname,
                                    //             }),
                                    //             success : function(JSONData){
                                    //             alert("회원가입이 정상적으로 되었습니다.");
                                    //             $("form").attr("method","POST").attr("action","/").attr("target","_parent").submit();
                                    //         }
                                    //     })
                                    //     if(idChk==false){ 
                                    //         console.log("로그인중...");
                                    //         $("form").attr("method","POST").attr("action","/account/signup_k/").attr("target","_parent").submit();
                                    //     }
                                    console.log('success!!')
                                    location.replace('/');
                                }
                            });
                        },
                        fail: function(error) {
                            console.log(error);
                        }
                    });
                },
                fail: function(err) {
                    alert(JSON.stringify(err));         
                }
            });
        }
    </script>

    <script type="text/javascript">
        var naver_id_login = new naver_id_login("6NbrDH2vMjug5Mc8GT67", "http://localhost:5000/member/callback");
        var state = naver_id_login.getUniqState();
        naver_id_login.setButton("green", 2,40);
        naver_id_login.setDomain("http://localhost:5000/member/login");
        naver_id_login.setState(state);
        // naver_id_login.setPopup();
        naver_id_login.init_naver_id_login();
    </script>
<!-- 
<script>
    window.fbAsyncInit = function() {
    FB.init({
    appId : '522482488829791',
         cookie : true, // enable cookies to allow the server to access the session
    xfbml : true, // parse social plugins on this page
    version : 'v11.0' // use graph api version 2.8
    });
        FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    };
    
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')); 
    function statusChangeCallback(response) {      
        console.log('statusChangeCallback');
        if (response.status === 'connected') {
            console.log(response.authResponse.accessToken);
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
        } else {
            document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
        }
    
    }
    
    function checkLoginState() {
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    }      
    function testAPI() {
    console.log('Welcome! Fetching your information.... ');
    FB.api(
        '/me',
        {"fields":"id,name,email"},
        function(response) {
           // Insert your code here
        console.log('Successful login for: ' + response.name);
    
        document.getElementById('status').innerHTML = JSON.stringify(response);
        }
    );
    }
    
    function fblogout(){
    
    FB.logout(function(response) {
        window.location.reload();
    });
    }
    
    </script> -->

</html>


