<!DOCTYPE html>
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for field1 in field1s %}
    <input type="checkbox" value='{{field1.id}}' class="field1">{{field1.field1}}
    <br>
    {% endfor %}
    <br>
    {% for mbti in mbtis %}
    <input type="checkbox" value='{{mbti.id}}' class="mbti">{{mbti.mbti}}
    <br>
    {% endfor %}
    <br>
    {% for region2 in region2s %}
    <input type="checkbox" value='{{region2.id}}' class="region2">{{region2.region1_id.region1}} {{region2.region2}}
    <br>
    {% endfor %}
    <br>
    {% for term in terms %}
    <input type="checkbox" value='{{term.id}}' class="term">{{term.term}}
    <br>
    {% endfor %}
    <br>

    <input type="checkbox" value='1' class="state">팀 찾는 중
    <br>
    <input type="checkbox" value='2' class="state">휴식 중
    <br>
    <input type="checkbox" value='0' class="state">팀 참여 중
    <br><br>

    <!-- 나이 추가 필요  -->

    {% for job in jobs %}
    <input type="checkbox" value='{{job.id}}' class="job">{{job.job}}
    <br>
    {% endfor %}
    <br>

    <button class="search">
        <a href="{% url 'member_search_back' %}">검색</a>
    </button>

    {% for profile in profiles %}
    <h1>
        {% if profile.state == 1 %}
            팀 찾는 중
        {% elif profile.state == 2 %}
            휴식 중
        {% else %}
            팀 참여 중
        {% endif %}
    </h1>
    <h1>이름: {{profile.name}}</h1>
    <p>성격유형: {{profile.mbti_id.mbti}}</p>
    <p>관심분야: {{profile.field1_id.field1}}</p>
    <p>선호 프로젝트: 
        {% if profile.type == 0 %}
            창업
        {% elif profile.type == 1 %}
            공모전
        {% else %}
            프로젝트
        {% endif %}
    </p>
    <p>나이: {% getAge profile.birthday %}</p>
    <p>직업: {{ profile.job_id.job }}</p>
    <p>지역: {{ profile.region1_id.region1 }} {{ profile.region2_id.region2 }}</p>
    {% endfor %}
</body>
<script>
    $(document).ready(function(){
        // 각각의 박스들이 체크될떄마다 어느 한 배열에 모아가지고, 검색 버튼 눌리면 그 배열만 가지고 오게 
        var selected_arr = new Array();
        $(".field1").on("click", function(){  
            if(Object.keys(object_1).includes('test_1'))
            var field1 = $(this).val();
            if($(this).is(":checked") == true) {
                selected_arr['field1']
                console.log(field1, "체크 됨");
            }else{
                console.log(field1, "체크해제 됨");
            }
        });
        $(".mbti").on("click", function(){  
            var field1 = $(this).val();
            if($(this).is(":checked") == true) {
                console.log(field1, "체크 됨");
            }else{
                console.log(field1, "체크해제 됨");
            }
        }); 
        $(".region2").on("click", function(){  
            var field1 = $(this).val();
            if($(this).is(":checked") == true) {
                console.log(field1, "체크 됨");
            }else{
                console.log(field1, "체크해제 됨");
            }
        }); 
        $(".term").on("click", function(){  
            var field1 = $(this).val();
            if($(this).is(":checked") == true) {
                console.log(field1, "체크 됨");
            }else{
                console.log(field1, "체크해제 됨");
            }
        }); 
        $(".state").on("click", function(){  
            var field1 = $(this).val();
            if($(this).is(":checked") == true) {
                console.log(field1, "체크 됨");
            }else{
                console.log(field1, "체크해제 됨");
            }
        }); 
        $(".job").on("click", function(){  
            var field1 = $(this).val();
            if($(this).is(":checked") == true) {
                console.log(field1, "체크 됨");
            }else{
                console.log(field1, "체크해제 됨");
            }
        }); 
    });
</script>
</html>