<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/member_search.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <section class="member_search-rec-box margin">

    </section>

    <section class="member_search-main-container margin">
        <aside class="team_search-filter-container">
            <div class="team_search-filter-item-container">
                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">관심분야</p>
                    <div value="field1" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div id="field1">
                    {% for field1 in field1s %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{field1.id}}' class="field1">
                            <span>{{field1.field1}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">성향</p>
                    <div value="mbti" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>
        
                <div id="mbti">
                    {% for mbti in mbtis %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{mbti.id}}' class="mbti">
                            <span>{{mbti.mbti}}</span>
                        </div>
                    {% endfor %}
                </div>
                
                <hr>

                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">지역</p>
                    <div value="region" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div id="region">
                    {% for region2 in region2s %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{region2.id}}' class="region2">
                            <span>{{region2.region1_id.region1}} {{region2.region2}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">선호 기간</p>
                    <div value="term" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div id="term">
                    {% for term in terms %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{term.id}}' class="term">
                            <span>{{term.term}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>
        
                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">참여 상태</p>
                    <div value="state" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div id="state">
                    <div class="team_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='1' class="state">
                        <span>모집중</span>
                    </div>

                    <div class="team_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='0' class="state">
                        <span>모집완료</span>
                    </div>
                </div>

                <hr>
    
                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">직업</p>
                    <div value="job" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div id="job">
                    {% for job in jobs %}
                    <div class="team_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='{{job.id}}' class="job">
                        <span>{{job.job}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </aside>

        <main class="member_search-member-container">
            {% for profile in profiles %}
                <article class="member_search-member-item">
                    <!-- <p>
                        {% if profile.state == 1 %}
                            팀 찾는 중
                        {% elif profile.state == 2 %}
                            휴식 중
                        {% else %}
                            팀 참여 중
                        {% endif %}
                    </p> -->

                    <div class="member_search-member-profile-container">
                        <div class="member_search-member-name-container">
                            <img class="member_search-member-image" src="{% static 'image/cloud.jpg' %}" alt="">
                            <p>{{profile.name}}</p>
                        </div>

                        <p>성격유형 : {{profile.mbti_id.mbti}}</p>
                    </div>

                    <p>관심분야 : {{profile.field1_id.field1}}</p>
                    <p>선호 프로젝트 : 
                        {% if profile.type == 0 %}
                            창업
                        {% elif profile.type == 1 %}
                            공모전
                        {% else %}
                            프로젝트
                        {% endif %}
                    </p>
                    <p>선호 기간 : </p>

                    <hr>

                    <p>나이 : {% getAge profile.birthday %}</p>
                    <p>직업 : {{ profile.job_id.job }}</p>
                    <p>지역 : {{ profile.region1_id.region1 }} {{ profile.region2_id.region2 }}</p>
                </article>
            {% endfor %}
            {% for profile in profiles %}
                <article class="member_search-member-item">
                    <!-- <p>
                        {% if profile.state == 1 %}
                            팀 찾는 중
                        {% elif profile.state == 2 %}
                            휴식 중
                        {% else %}
                            팀 참여 중
                        {% endif %}
                    </p> -->

                    <div class="member_search-member-profile-container">
                        <div class="member_search-member-name-container">
                            <img class="member_search-member-image" src="{% static 'image/cloud.jpg' %}" alt="">
                            <p>{{profile.name}}</p>
                        </div>

                        <p>성격유형 : {{profile.mbti_id.mbti}}</p>
                    </div>

                    <p>관심분야 : {{profile.field1_id.field1}}</p>
                    <p>선호 프로젝트 : 
                        {% if profile.type == 0 %}
                            창업
                        {% elif profile.type == 1 %}
                            공모전
                        {% else %}
                            프로젝트
                        {% endif %}
                    </p>
                    <p>선호 기간 : </p>

                    <hr>

                    <p>나이 : {% getAge profile.birthday %}</p>
                    <p>직업 : {{ profile.job_id.job }}</p>
                    <p>지역 : {{ profile.region1_id.region1 }} {{ profile.region2_id.region2 }}</p>
                </article>
            {% endfor %}
        </main>
    </section>
</body>

<script>
    $(document).ready(function(){
        $(".drop_btn").on("click", function(){ 
            var className = $(this).attr("value");
            console.log(className);

            let currentClass = document.getElementById(className);
            
            if(currentClass.style.display === "none"){
                currentClass.style.display = "block";
            } else{
                currentClass.style.display = "none";
            }
        }); 
    });
    // function drop(){
    //     let className = $(this).val();
    //     console.log(className);
    //     let currentClass = document.getElementById(className);
    //     if(currentClass.style.display === "none"){
    //         currentClass.style.display = "block";


    //     } else{
    //         currentClass.style.display = "none";
    //     }
    // }
</script>

</html>