<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/member_search.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <section class="member_search-rec-box margin">
        <p class="member_search-rec-title spoqa-regular">recommended member</p>

        <div class="member_search-rec-container">
            <img class="member_search-chevron-left" src="{% static 'image/chevron-left.png' %}" alt="">

            {% for reg in profiles_reg %}
            <div class="member_search-rec-member">
                <img class="member_search-rec-image" src="{% static 'image/cloud.jpg' %}">

                <div class="member_search-rec-info">
                    <p class="member_search-rec-info-name spoqa-regular">{{reg.name}}</p>
                    <p class="spoqa-light">관심분야 : {{reg.field1_id.field1}}</p>
                    <p class="spoqa-light">MBTI : {{reg.mbti_id.mbti}}</p>
                </div>
            </div>
            {% endfor %}

            <img class="member_search-chevron-right" src="{% static 'image/chevron-right.png' %}" alt="">
        </div>
    </section>

<!--검색 박스-->
<section class="member_search-search-box">
        <input type="search" placeholder="검색어를 입력하세요." name = "examine" value ="{{search}}" class = "search_box">
        <button class = "search_submit">검색</button> 
</section>
<!---->
<!--드롭다운 박스-->

<form>
    <select id="member_search-state-box">
      <option onclick="location.href='/member_state/{{state}}'" value="state_1">팀 찾는중</option>
      <option onclick="location.href='/member_state/{{state}}'" value="state_2">휴식중</option>
      <option onclick="location.href='/member_state/{{state}}'" value="state_0">팀 참여중</option>
    </select>
</form>
<!--
<div class="dropdown">
    <button onclick="Click()" class="button">====상태검색====</button>
    <div class="dropdown-content" id="drop-content">
        <a hreaf='#'>팀 찾는중</a>
        <a hreaf='#'>휴식중</a>
        <a hreaf='#'>팀 참여중</a>
    </div>
</div>
-->
<!--
<div class="dropdown">
    <button onclick="ClickState()" class="button">====검색====</button>
    <div style="
    display: none;" id="drop-content">
        <a hreaf='#'>팀 찾는중</a>
        <a hreaf='#'>휴식중</a>
        <a hreaf='#'>팀 참여중</a>
    </div>
</div>
-->
<!---->
<!--검색시 나오는 프로필-->
{% block content %} 
{% for post in post.all %}
    {% for profile in profiles %}
        <main class="member_search-member-container">
            <a href="{% url 'member_detail' profile.id %}">
                <article class="member_search-member-item">
                    <!-- <p>
                        {% if profile.state == 1 %}
                            팀 찾는 중
                        {% elif profile.state == 2 %}
                            휴식 `
                        {% else %}
                            팀 참여 중
                        {% endif %}
                    </p> -->

                    <div class="member_search-member-profile-container">
                        <div class="member_search-member-name-container">
                            <img class="member_search-member-image" src="{% static 'image/cloud.jpg' %}" alt="">
                            <p class="spoqa-bold">{{post.name}}</p>
                        </div>

                        <p class="spoqa-medium">MBTI : {{post.mbti_id.mbti}}</p>
                    </div>

                    <p class="spoqa-medium">관심분야 : {{post.field1_id.field1}}</p>
                    <p class="spoqa-medium">선호 프로젝트 : 
                        {% if post.type == 0 %}
                            창업
                        {% elif post.type == 1 %}
                            공모전
                        {% else %}
                            프로젝트
                        {% endif %}
                    </p>
                    <p class="spoqa-medium">선호 기간 : </p>

                    <hr>

                    <p class="spoqa-regular">나이 : {% getAge post.birthday %}</p>
                    <p class="spoqa-regular">직업 : {{ post.job_id.job }}</p>
                    <p class="spoqa-regular">지역 : {{ post.region1_id.region1 }} {{ post.region2_id.region2 }}</p>
                </article>
            </a>
        </main>
    {% endfor %}        
{% endfor %}
{% endblock %}

<!---->



    <section class="member_search-main-container margin">
        <aside class="member_search-filter-container">
            <div class="member_search-filter-item-container">
                <div class="member_search-filter-active">
                    <p class="member_search-filter-title spoqa-medium">관심분야</p>
                    <div value="field1" class="drop_btn">
                        <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="active" id="field1">
                    {% for field1 in field1s %}
                        <div class="member_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{field1.id}}' class="field1">
                            <span>{{field1.field1}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="member_search-filter-active">
                    <p class="member_search-filter-title spoqa-medium">성향</p>
                    <div value="mbti" class="drop_btn">
                        <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>
        
                <div class="hidden" id="mbti">
                    {% for mbti in mbtis %}
                        <div class="member_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{mbti.id}}' class="mbti">
                            <span>{{mbti.mbti}}</span>
                        </div>
                    {% endfor %}
                </div>
                
                <hr>

                <div class="member_search-filter-active">
                    <p class="member_search-filter-title spoqa-medium">지역</p>
                    <div value="region" class="drop_btn">
                        <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="region">
                    {% for region2 in region2s %}
                        <div class="member_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{region2.id}}' class="region2">
                            <span>{{region2.region1_id.region1}} {{region2.region2}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="member_search-filter-active">
                    <p class="member_search-filter-title spoqa-medium">선호 기간</p>
                    <div value="term" class="drop_btn">
                        <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="term">
                    {% for term in terms %}
                        <div class="member_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{term.id}}' class="term">
                            <span>{{term.term}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>
        
                <div class="member_search-filter-active">
                    <p class="member_search-filter-title spoqa-medium">참여 상태</p>
                    <div value="state" class="drop_btn">
                        <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="state">
                    <div class="member_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='1' class="state">
                        <span>팀 찾는 중</span>
                    </div>

                    <div class="member_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='2' class="state">
                        <span>휴식 중</span>
                    </div>

                    <div class="member_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='0' class="state">
                        <span>팀 참여 중</span>
                    </div>
                </div>

                <hr>
    
                <div class="member_search-filter-active">
                    <p class="member_search-filter-title spoqa-medium">직업</p>
                    <div value="job" class="drop_btn">
                        <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="job">
                    {% for job in jobs %}
                    <div class="member_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='{{job.id}}' class="job">
                        <span>{{job.job}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- <a class="a-search" href="{% url 'member_search' %}">
                <button class="search spoqa-medium">검색</button>
            </a> -->
        </aside>

        <main class="member_search-member-container">
            {% for profile in profiles %}
                <a href="{% url 'member_detail' profile.id %}">
                    <article class="member_search-member-item">
                        <!-- <p>
                            {% if profile.state == 1 %}
                                팀 찾는 중
                            {% elif profile.state == 2 %}
                                휴식 중
                            {% else %}
                                팀 참여 중
                            {% endif %}
                        </p> -->

                        <div class="member_search-member-profile-container">
                            <div class="member_search-member-name-container">
                                <img class="member_search-member-image" src="{% static 'image/cloud.jpg' %}" alt="">
                                <p class="spoqa-bold">{{profile.name}}</p>
                            </div>

                            <p class="spoqa-medium">MBTI : {{profile.mbti_id.mbti}}</p>
                        </div>

                        <p class="spoqa-medium">관심분야 : {{profile.field1_id.field1}}</p>
                        <p class="spoqa-medium">선호 프로젝트 : 
                            {% if profile.type == 0 %}
                                창업
                            {% elif profile.type == 1 %}
                                공모전
                            {% else %}
                                프로젝트
                            {% endif %}
                        </p>
                        <p class="spoqa-medium">선호 기간 : </p>

                        <hr>

                        <p class="spoqa-regular">나이 : {% getAge profile.birthday %}</p>
                        <p class="spoqa-regular">직업 : {{ profile.job_id.job }}</p>
                        <p class="spoqa-regular">지역 : {{ profile.region1_id.region1 }} {{ profile.region2_id.region2 }}</p>
                    </article>
                </a>
                <button class = "like_submit_delete profile_{{profile.user_id.id}} hidden" value="{{profile.user_id.id}}">좋아요</button>
                <button class = "like_submit profile_{{profile.user_id.id}}" value="{{profile.user_id.id}}">좋아요 전</button>  
                <button class = "scrap_submit_delete profile_{{profile.user_id.id}} hidden" value="{{profile.user_id.id}}">스크랩</button>
                <button class = "scrap_submit profile_{{profile.user_id.id}}" value="{{profile.user_id.id}}">스크랩 전</button> 
            {% endfor %}
        </main>
    </section>

    {% include 'footer.html' %}
</body>

<script>
    $(document).ready(function(){
        //팀원찾기 > 세부필터링
        $(".drop_btn").on("click", function(){ 
            var className = $(this).attr("value");
            console.log(className);

            let currentClass = document.getElementById(className);
            
            if ($(currentClass).is('.hidden')){
                $(currentClass).removeClass('hidden');
                $(currentClass).addClass('active');
                console.log("123");
            } else{
                $(currentClass).removeClass('active');
                $(currentClass).addClass('hidden');
                console.log("456");
            }
        }); 
        //팀원 찾기 > 검색
        $(".search_submit").on("click", function() {
            var Memdata = {
                'value' : $('.search_box').val() //class search_box의 value 값을 'value'라 하고 그걸 Memdata에 저장
            }
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'searchMember' %}",
                data: JSON.stringify(Memdata),
                success: function(res) {
                    $('.member_search-member-container').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });
        //줗아요함수
        $('.like_submit').on("click", function(){
            user_id = $(this).val()
            var memlike = {
                'value': user_id
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url:"{% url 'likes' %}",
                data :JSON.stringify(memlike),
                success: function(res) {
                        $('.like_submit_delete.profile_'+user_id).removeClass('hidden');
                        $('.like_submit.profile_'+user_id).addClass('hidden');
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });
        //좋아요 취소 함수 
        $('.like_submit_delete').on("click", function(){ //좋아요를 누르면 ~
            user_id = $(this).val()
            var memlike = {
                'value': user_id
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url:"{% url 'likecancels' %}",
                data :JSON.stringify(memlike),
                success: function(res) {
                        $('.like_submit.profile_'+user_id).removeClass('hidden'); //좋아요 전이 켜지고
                        $('.like_submit_delete.profile_'+user_id).addClass('hidden'); //좋아요는 hidden 처리 된다.
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });
        //스크랩 함수
        $('.scrap_submit').on("click", function(){
            user_id = $(this).val()
            var memscrap = {
                'value': user_id
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url:"{% url 'scraps' %}",
                data :JSON.stringify(memscrap),
                success: function(res) {
                        $('.scrap_submit_delete.profile_'+user_id).removeClass('hidden');
                        $('.scrap_submit.profile_'+user_id).addClass('hidden');
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });
        //스크랩 취소 함수 
        $('.scrap_submit_delete').on("click", function(){
            user_id = $(this).val()
            var memscrap = {
                'value': user_id
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url:"{% url 'scrapcancels' %}",
                data :JSON.stringify(memscrap),
                success: function(res) {
                        $('.scrap_submit.profile_'+user_id).removeClass('hidden');
                        $('.scrap_submit_delete.profile_'+user_id).addClass('hidden');
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });

    });

    // function drop(){
    //     let className = $(this).val();
    //     console.log(className);
    //     let currentClass = document.getElementById(className);
    //     if(currentClass.style.display === "none"){
    //         currentClass.style.display = "block";


    //     } else{
    //         currentClass.style.display = "none";
    //     }
    // }
</script>

</html>