<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/member_search.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>
    <div class="content">
        {% include 'navbar.html' %}
        <section class="member_search-rec-box margin">
            <p class="member_search-rec-title spoqa-regular">recommended member</p>

            <div class="member_search-rec-container">
                <img class="member_search-chevron-left" src="{% static 'image/chevron-left.png' %}" alt="">

                {% for reg in profiles_reg %}
                <div class="member_search-rec-member">
                    {% if reg.photo.url is not None %}
                        <img class="member_search-rec-image" src="{{reg.photo.url}}">
                    {% else %}
                        <img class="member_search-rec-image" src="{% static 'image/default_profile.png' %}" >
                    {% endif %}
                    <div class="member_search-rec-info">
                        <p class="member_search-rec-info-name spoqa-regular">{{reg.name}}</p>
                        <p class="spoqa-light">관심분야 : {{reg.field1_id.field1}}</p>
                        <p class="spoqa-light">MBTI : {{reg.mbti_id.mbti}}</p>
                    </div>
                </div>
                {% endfor %}

                <img class="member_search-chevron-right" src="{% static 'image/chevron-right.png' %}" alt="">
            </div>
        </section>

        <section class="member_search-container margin">
            <aside class="member_search-filter-container">
                <div class="member_search-filter-item-container">
                    <div class="member_search-filter-active">
                        <p class="member_search-filter-title spoqa-medium">관심분야</p>
                        <div value="field1" class="drop_btn">
                            <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                        </div>
                    </div>

                    <div class="active" id="field1">
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='all' class="field1" data="field1_all" checked>
                                <span>전체</span>
                            </label>
                        </div>
                        {% for field1 in field1s %}
                            <div class="member_search-filter-item-list spoqa-light">
                                <label>
                                    <input type="checkbox" value='{{field1.id}}' class="field1">
                                    <span>{{field1.field1}}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <hr>

                    <div class="member_search-filter-active">
                        <p class="member_search-filter-title spoqa-medium">성향</p>
                        <div value="mbti" class="drop_btn">
                            <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                        </div>
                    </div>
            
                    <div class="hidden" id="mbti">
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='all' class="mbti" data="mbti_all" checked>
                                <span>전체</span>
                            </label>
                        </div>
                        {% for mbti in mbtis %}
                            <div class="member_search-filter-item-list spoqa-light">
                                <label>
                                    <input type="checkbox" value='{{mbti.id}}' class="mbti">
                                    <span>{{mbti.mbti}}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <hr>

                    <div class="member_search-filter-active">
                        <p class="member_search-filter-title spoqa-medium">지역</p>
                        <div value="region" class="drop_btn">
                            <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                        </div>
                    </div>

                    <div class="hidden" id="region">
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='all' class="region2" data="region2_all" checked>
                                <span>전체</span>
                            </label>
                        </div>
                        {% for region2 in region2s %}
                            <div class="member_search-filter-item-list spoqa-light">
                                <label>
                                    <input type="checkbox" value='{{region2.id}}' class="region2">
                                    <span>{{region2.region1_id.region1}} {{region2.region2}}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <hr>

                    <div class="member_search-filter-active">
                        <p class="member_search-filter-title spoqa-medium">선호 기간</p>
                        <div value="term" class="drop_btn">
                            <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                        </div>
                    </div>

                    <div class="hidden" id="term">
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='all' class="term" data="term_all" checked>
                                <span>전체</span>
                            </label>
                        </div>
                        {% for term in terms %}
                            <div class="member_search-filter-item-list spoqa-light">
                                <label>
                                    <input type="checkbox" value='{{term.id}}' class="term">
                                    <span>{{term.term}}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <hr>
            
                    <div class="member_search-filter-active">
                        <p class="member_search-filter-title spoqa-medium">참여 상태</p>
                        <div value="state" class="drop_btn">
                            <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                        </div>
                    </div>

                    <div class="hidden" id="state">
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='all' class="state" data="state_all" checked>
                                <span>전체</span>
                            </label>
                        </div>
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='1' class="state">
                                <span>팀 찾는 중</span>
                            </label>
                        </div>

                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='2' class="state">
                                <span>휴식 중</span>
                            </label>
                        </div>

                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='0' class="state">
                                <span>팀 참여 중</span>
                            </label>
                        </div>
                    </div>

                    <hr>
        
                    <div class="member_search-filter-active">
                        <p class="member_search-filter-title spoqa-medium">직업</p>
                        <div value="job" class="drop_btn">
                            <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                        </div>
                    </div>

                    <div class="hidden" id="job">
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='all' class="job" data="job_all" checked>
                                <span>전체</span>
                            </label>
                        </div>
                        {% for job in jobs %}
                        <div class="member_search-filter-item-list spoqa-light">
                            <label>
                                <input type="checkbox" value='{{job.id}}' class="job">
                                <span>{{job.job}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <a class="a-search">
                    <button class="search member_filter spoqa-medium">검색</button>
                </a>
            </aside>

            <main>
                <div class="member_search-member-select-container">
                    <div class="member_search-member-select-sort spoqa-regular">
                        <a href="" class="member_search-member-select-latest">최신순</a>
                        <p>|</p>
                        <a href="" class="member_search-member-select-popular">인기순</a>
                    </div>

                    <div class="member_search-search-container">
                        <input class="member_search-member-select-search spoqa-light" type="text">
                        <img class="member_search-search-button" src="{% static 'image/search.png' %}">
                    </div>
                </div>

                <div class="member_search-member-container">
                    {% for profile in profiles %}
                        <a href="{% url 'member_detail' profile.id %}">
                            <article class="member_search-member-item">
                                <!-- <p>
                                    {% if profile.state == 1 %}
                                        팀 찾는 중
                                    {% elif profile.state == 2 %}
                                        휴식 중
                                    {% else %}
                                        팀 참여 중
                                    {% endif %}
                                </p> -->

                                <div class="member_search-member-profile-container">
                                    <div class="member_search-member-name-container">
                                        {% if profile.photo.url is not None %}
                                            <img src="{{profile.photo.url}}" class="member_search-member-image">
                                        {% else %}
                                            <img src="{% static 'image/default_profile.png' %}" class="member_search-member-image">
                                        {% endif %}
                                        <p class="spoqa-bold">{{profile.name}}</p>
                                    </div>

                                    <p class="spoqa-medium">MBTI : {{profile.mbti_id.mbti}}</p>
                                </div>

                                <p class="spoqa-medium">관심분야 : {{profile.field1_id.field1}}</p>
                                <p class="spoqa-medium">선호 프로젝트 : 
                                    {% if profile.type == 0 %}
                                        창업
                                    {% elif profile.type == 1 %}
                                        공모전
                                    {% else %}
                                        프로젝트
                                    {% endif %}
                                </p>
                                <p class="spoqa-medium">선호 기간 : </p>

                                <hr>

                                <div class="member_search-member-bottom-container">
                                    <p class="spoqa-regular">나이 : {% getAge profile.birthday %}</p>
                                    <p class="spoqa-regular">직업 : {{ profile.job_id.job }}</p>
                                    <p class="spoqa-regular">지역 : {{ profile.region1_id.region1 }} {{ profile.region2_id.region2 }}</p>
                                    <div class="team_search-like-scrap-container spoqa-light">
                                        <a class="team_search-like-scrap-item">
                                            {% if user.is_authenticated %}
                                                <img class="like-scrap like {% active_like 1 profile.id user.id %}" src="{% static 'image/like-btn-2.png' %}" value="{{profile.user_id.id}}">
                                            {% else %}
                                                <img class="like-scrap like" src="{% static 'image/like-btn-2.png' %}" value="{{profile.user_id.id}}">
                                            {% endif %}
                                            <p>{% get_like_cnt 1 profile.id %}</p>
                                        </a>

                                        <a class="team_search-like-scrap-item">
                                            {% if user.is_authenticated %}
                                                <img class="like-scrap scrap {% active_scrap 1 profile.id user.id %}" src="{% static 'image/scrap-btn-2.png' %}" value="{{profile.user_id.id}}">
                                            {% else %}
                                                <img class="like-scrap scrap" src="{% static 'image/scrap-btn-2.png' %}" value="{{profile.user_id.id}}">
                                            {% endif %}
                                            <p>{% get_scrap_cnt 1 profile.id %}</p>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </a>
                    {% endfor %}
                </div>
            </main>
        </section>

        <!-- 여기부터 서넹이만졌어요... -->
        <!-- <div style="display: flex; justify-content: center;">
        <p>{% if posts.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{posts.previous_page_number}}">이전</a>
        {% endif %}
        
        <span>{{posts.number}}</span>
        <span>/</span>
        <span>{{posts.paginator.num_pages}}</span>
        
        {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}">다음</a>
            <a href="?page={{posts.paginator.num_pages}}">Last</a>
            {% endif %}</p>
        </div> -->
        <!-- 여기까지 서넹이 만졌어요... -->
    </div>
    {% include 'footer.html' %}
</body>

<script>
    $(document).ready(function(){
        $(".like").on("click", function(){ 
            profile_id = $(this).attr('value'); 
            var like = {
                'value': profile_id
            }
            var url = '';
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                url = "{% url 'likecancels' %}"
                $(this).next().text(parseInt($(this).next().text())-1);
            }else{
                $(this).addClass('active');
                url = "{% url 'likes' %}"
                $(this).next().text(parseInt($(this).next().text())+1);
            }
            
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: url,
                data :JSON.stringify(like),
                success: function(res) {
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            }); 
        });
        
        // 스크랩
        $(".scrap").on("click", function(){ 
            profile_id = $(this).attr('value'); 
            var like = {
                'value': profile_id
            }
            var url = '';
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                url = "{% url 'scrapcancels' %}"
                $(this).next().text(parseInt($(this).next().text())-1);
            }else{
                $(this).addClass('active');
                url = "{% url 'scraps' %}"
                $(this).next().text(parseInt($(this).next().text())+1);
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: url,
                data :JSON.stringify(like),
                success: function(res) {
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                }
            }); 
        });


        $(".drop_btn").on("click", function(){ 
            var className = $(this).attr("value");
            let currentClass = document.getElementById(className);
            if ($(currentClass).is('.hidden')){
                $(currentClass).removeClass('hidden');
                $(currentClass).addClass('active');
            } else{
                $(currentClass).removeClass('active');
                $(currentClass).addClass('hidden');
            }
        });



        // ??????
        $('.field1, .mbti, .region2, .term, .state, .job').on("change",  function(){ 
            if($(this).val()=='all'&& $(this).is(":checked")){
                $("."+$(this).attr('class')).prop("checked", false);
                $(this).prop("checked", true)
            }else{
                $("input[data='"+$(this).attr('class')+"_all']").prop("checked", false);
            }
            if($("."+$(this).attr('class')+":checked").length ==0){
                $("input[data='"+$(this).attr('class')+"_all']").prop("checked", true);
            }
        });
        $(".member_filter").on("click", function(){ 
            let field1_checked = $("#field1 input:checked");
            let mbti_checked = $("#mbti input:checked");
            let region_checked = $("#region input:checked");
            let term_checked = $("#term input:checked");
            let state_checked = $("#state input:checked");
            let job_checked = $("#job input:checked");
            let field1_list = []
            let mbti_list = []
            let region_list = []
            let term_list = []
            let state_list = []
            let job_list = []
            for(let i=0; i<field1_checked.length; i++){
                field1_list.push($(field1_checked[i]).val());
            }
            for(let i=0; i<mbti_checked.length; i++){
                mbti_list.push($(mbti_checked[i]).val());
            }
            for(let i=0; i<region_checked.length; i++){
                region_list.push($(region_checked[i]).val());
            }
            for(let i=0; i<term_checked.length; i++){
                term_list.push($(term_checked[i]).val());
            }
            for(let i=0; i<state_checked.length; i++){
                state_list.push($(state_checked[i]).val());
            }
            for(let i=0; i<job_checked.length; i++){
                job_list.push($(job_checked[i]).val());
            }
            data = {
                'field1': field1_list,
                'mbti': mbti_list,
                'region' : region_list,
                'term' : term_list,
                'state' : state_list,
                'job' : job_list
            }
            console.log(data);
            $.ajax({
                type: "POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'filterMember'%}",
                data: JSON.stringify(data),
                success: function(res) {
                    $('.member_search-member-container').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });

        //최신순 필터링
        $('.member_search-member-select-latest').on("click", function(event){ 
            event.preventDefault();
            let field1_checked = $("#field1 input:checked");
            let mbti_checked = $("#mbti input:checked");
            let region_checked = $("#region input:checked");
            let term_checked = $("#term input:checked");
            let state_checked = $("#state input:checked");
            let job_checked = $("#job input:checked");
            let field1_list = []
            let mbti_list = []
            let region_list = []
            let term_list = []
            let state_list = []
            let job_list = []
            for(let i=0; i<field1_checked.length; i++){
                field1_list.push($(field1_checked[i]).val());
            }
            for(let i=0; i<mbti_checked.length; i++){
                mbti_list.push($(mbti_checked[i]).val());
            }
            for(let i=0; i<region_checked.length; i++){
                region_list.push($(region_checked[i]).val());
            }
            for(let i=0; i<term_checked.length; i++){
                term_list.push($(term_checked[i]).val());
            }
            for(let i=0; i<state_checked.length; i++){
                state_list.push($(state_checked[i]).val());
            }
            for(let i=0; i<job_checked.length; i++){
                job_list.push($(job_checked[i]).val());
            }
            data = {
                'field1': field1_list,
                'mbti': mbti_list,
                'region' : region_list,
                'term' : term_list,
                'state' : state_list,
                'job' : job_list
            }
            console.log(data);
            $.ajax({
                type: "POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'latestMember' %}",
                data: JSON.stringify(data),
                success: function(res) {
                    $('.member_search-member-container').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });
        //인기순 필터링
        $('.member_search-member-select-popular').on("click", function(event){ 
            event.preventDefault();
            let field1_checked = $("#field1 input:checked");
            let mbti_checked = $("#mbti input:checked");
            let region_checked = $("#region input:checked");
            let term_checked = $("#term input:checked");
            let state_checked = $("#state input:checked");
            let job_checked = $("#job input:checked");
            let field1_list = []
            let mbti_list = []
            let region_list = []
            let term_list = []
            let state_list = []
            let job_list = []
            for(let i=0; i<field1_checked.length; i++){
                field1_list.push($(field1_checked[i]).val());
            }
            for(let i=0; i<mbti_checked.length; i++){
                mbti_list.push($(mbti_checked[i]).val());
            }
            for(let i=0; i<region_checked.length; i++){
                region_list.push($(region_checked[i]).val());
            }
            for(let i=0; i<term_checked.length; i++){
                term_list.push($(term_checked[i]).val());
            }
            for(let i=0; i<state_checked.length; i++){
                state_list.push($(state_checked[i]).val());
            }
            for(let i=0; i<job_checked.length; i++){
                job_list.push($(job_checked[i]).val());
            }
            data = {
                'field1': field1_list,
                'mbti': mbti_list,
                'region' : region_list,
                'term' : term_list,
                'state' : state_list,
                'job' : job_list
            }
            console.log(data);
            $.ajax({
                type: "POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'popularMember' %}",
                data: JSON.stringify(data),
                success: function(res) {
                    $('.member_search-member-container').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });
        //팀원 찾기 > 검색
        $(".member_search-search-button").on("click", function() {
            var Memdata = {
                'value' : $('.member_search-member-select-search').val() //class search_box의 value 값을 'value'라 하고 그걸 Memdata에 저장
            }
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'searchMember' %}",
                data: JSON.stringify(Memdata),
                success: function(res) {
                    $('.member_search-member-container').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });
    });
</script>

</html>