<!-- {% block content %}
<form method="POST" action="{% url 'mypage_modify_profile_update' %}">
    {% csrf_token %}
    <h1>수정페이지</h1>
        <h4>이름:</h4>
        <input type="text" name="name" value={{profile.name}}>
        <br>
        <h4>직업:</h4>
        <input type="int" name="job_id" value={{profile.job_id.job}}>
        <h4>나이</h4>
        <input type="int" name="job_id" value={%getAgeprofile.birthday%}>
        <h4>본문:</h4>
        <textarea name="body" cols="40" rows="10">{{blog.body}}</textarea>
        <br>
        <br>
        <input type="submit" value="제출하기">
</form>
{% endblock %}
  -->