{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<form method="POST" action="{% url 'mypage_modify_profile_update'  %}">
    {% csrf_token %}
    <h1>수정페이지</h1>
        <h4>이름:</h4>
        <input type="text" name="name" value={{profile.name}}>      
        <h4>직업:</h4>
        <input type="int" name="job_id" value={{profile.job_id.job}}>
        <h4>나이:</h4> 
        <input type='date' name="birthday" value=getAge{{profile.birthday}}>
       
        
        <h4>지역:</h4> 
        <input type="int" name="region2" value={{profile.region2_id.region2}}>
        <h4>상태:</h4> 
        <select name="state" id={{state}}>
          <option value="0">팀 참여중</option>
          <option value="1">팀 찾는중</option>
          <option value="2">휴식중</option>
        </select>
         
        </textarea>
        <h4>관심분야:</h4> 
        <select name="field1_id" id={{profile.field1_id.field1}}>
          <option value="0">영상/UCC/사진</option>
          <option value="1">웹/모바일/IT</option>
          <option value="2">디자인/캐릭터/웹툰</option>
          <option value="3">게임/소프트웨어</option>
          <option value="4">과학/공학</option>
          <option value="5">문학/글/시나리오</option>
          <option value="6">건축/건설/인테리어</option>
          <option value="7">예체능/미술/음악</option>
          <option value="8">대외활동/서포터즈</option>
        </select> 

        <h4>관심분야_detail:</h4> 
        <input type="int" name="field2" value={{profile.field2}}>
        <h4>선호기간:</h4> 
        <input type="int" name="term_id" value={{profile.term_id.term}}>
        <h4>MBTI:</h4>
        <select name="mbti_id" id={{profile.mbti_id.mbti}}>
          <option value="1">ESFP</option>
          <option value="2">ESTP</option>
          <option value="3">ISFP</option>
          <option value="4">ISTP</option>
          <option value="5">ESFJ</option>
          <option value="6">ESTJ</option>
          <option value="7">ISFJ</option>
          <option value="8">ISTJ</option>
          <option value="9">ENFP</option>
          <option value="10">ENFJ</option>
          <option value="11">INFP</option>
          <option value="12">INFJ</option>
          <option value="13">ENTP</option>
          <option value="14">ENTJ</option>
          <option value="15">INTP</option>
          <option value="16">INTJ</option>
          </select>
        {% if profile.mbti_detail is not None %}
        <input type="text" name="mbti_detail" value={{profile.mbti_detail}}>
        {% endif %}
        {% if profile.open_phone %}
        <h4>연락처:</h4>
        <textarea name="body" cols="40" rows="10">
        <p>{{profile.phone}}</p>
        {% else %}
        <p>전화번호: 비공개</p>
        {% endif %}
        {% if profile.open_email %}
        <h4>이메일:</h4>
        <textarea name="email" cols="40" rows="10">{{profile.email}}
        <p>이메일: 비공개</p>
        {% else %}
        <p>email: 비공개</p>
        {% endif %}
        </textarea>
        {% if profile.pr is not None %}
        <h4>pr:</h4>
        <textarea name="body" cols="40" rows="10">{{profile.pr}</textarea>
        {% endif %}
        {% if profile.isCarrer %}
        <h4>경력:</h4>
        <textarea name="body" cols="40" rows="10">
          {% for user_carrer in user_carrers %}
          <p>커리어:{{user_carrer.content}}</p>
          <p>시작날짜:{{user_carrer.start_date}}</p>
          <p>종료날짜:{{user_carrer.end_date}}</p><br>
          {% endfor %} 
        </textarea>
        {% endif %}
        <h4>경력:</h4>
        {% if profile.isLink %}
        <textarea name="body" cols="40" rows="10">
          {% for user_link in user_links %}
          <p>링크:{{user_link.link}}</p> <br>
          {% endfor %}
          </textarea>
        {% endif %}
        <h4>파일:</h4>
        {% if profile.isFile %}
        <textarea name="body" cols="40" rows="10">
          {% for user_file in user_files %}
          <p>파일:{{user_file.file}}</p> <br>
          {% endfor %}
        </textarea>
        {% endif %}
        <br>
        <br>
        <input type="submit" value="수정하기">
</form>
{% endblock %}
  