{% load static %}
{% load custom_tags %}

<div class="mypage-info-item-wrap-container">
    <div class="mypage-project-item-wrap-container">
        {% for project in projects %}
            <div class="mypage-project-item-container">
                <div class="mypage-project-title-wrap">
                    <p class="mypage-project-title spoqa-light">{{project.title}}</p>
                    <div class="mypage-project-select-state spoqa-regular drop_btn" value="job">
                        <div class="mypage-project-select-state-button state col_10">
                            <div class="mypage-project-state-circle"></div>
                            <p class="spoqa-light">
                                {% if project.state %}
                                    모집중
                                {% else %}
                                    모집완료
                                {% endif %}
                            </p>
                            <img class="mypage-project-triangle" src="{% static 'image/triangle.png' %}">
                        </div>
            
                        <div class="hidden float" id="job">
                            <div class="mypage-project-select-list col_10">
                                <a class="select-state-item spoqa-light">모집중</a>
                                <hr class="mypage-project-line">
                                <a class="select-state-item spoqa-light">모집완료</a>
                                <hr class="mypage-project-line">
                                <a class="select-state-item spoqa-light">종료</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mypage-project-line">
                <div class="mypage-project-etc-wrap">
                    <p class="mypage-project-field-title spoqa-light">분야</p>
                    <p class="mypage-project-field-text spoqa-light">{{project.field1_id.field1}}</p>
                    <p class="mypage-project-term-title spoqa-light">기간</p>
                    <p class="mypage-project-term-text spoqa-light">{% DateFormat project.start_date %} ~ {% DateFormat project.end_date %}</p>
                    <p class="mypage-project-mem-title spoqa-light">모집인원</p>
                    <p class="mypage-project-mem-text spoqa-light">{% get_mem_register project.id %}/{{ project.mem_total }}</p>
                </div>
                <hr class="mypage-project-line">
                <div class="mypage-project-member-wrap">
                    <div class="mypage-project-member-title-wrap" value = {{project.id}}>
                        <p class="mypage-project-member-title spoqa-light">팀원 정보</p>
                        <img class="mypage-project-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
                    <div class="mypage-project-manage-button">
                        {% if project.isEnd %}
                            <a class="mypage-project-manage-text spoqa-light" href="">팀원 평가하기</a>
                        {% endif %}
                        <a class="mypage-project-manage-text spoqa-light" href="">지원서 열람하기</a>
                    </div>
                </div>
                <hr class="mypage-project-line">
                {% for key, value in items %}
                    {% if key == project.id %}
                        {% for mem in value %}
                            <div class="mypage-project-member-manage-wrap {{project.id}} hidden">
                                <p class="mypage-project-name-title spoqa-light {{project.id}} hidden">{% get_mem_name mem.id %}</p>
                                <p class="mypage-project-detail-info-text spoqa-light {{project.id}} hidden">{% get_mem_age mem.id %}</p>
                                <p class="mypage-project-detail-info-text spoqa-light {{project.id}} hidden">{% get_mem_region mem.id %}</p>
                                <p class="mypage-project-detail-info-text spoqa-light {{project.id}} hidden">{% get_mem_phone mem.id %}</p>
                                <p class="mypage-project-detail-info-text spoqa-light {{project.id}} hidden">{% get_mem_email mem.id %}</p>
                            </div>
                            <hr class="mypage-project-member-line {{project.id}} hidden">
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<script>
    // 드롭다운 열고 닫는 함수
    $(".drop_btn").on("click", function(){ 
            let className = $(this).attr("value");
            let currentClass = document.getElementById(className);
            if ($(currentClass).is('.hidden')){
                $(currentClass).removeClass('hidden');
                $(currentClass).addClass('active');
            } else{
                $(currentClass).removeClass('active');
                $(currentClass).addClass('hidden');
            }
        }); 
    $('.select-state-item').on("click", function(){
        $('.mypage-project-select-state-button.state p').text($(this).text());
    }); 
    $(".mypage-project-member-title-wrap").on("click", function(){
        projcet_id = $(this).attr('value');
        if($("."+projcet_id).hasClass('hidden')){
            $("."+projcet_id).removeClass('hidden');
        }else{
            $("."+projcet_id).addClass('hidden');
        }
    }); 
    // $(document).ready(function(){
    //     $(".drop_btn").on("click", function(){ 
    //         let className = $(this).attr("value");
    //         let currentClass = document.getElementById(className);
    //         if ($(currentClass).is('.hidden')){
    //             $(currentClass).removeClass('hidden');
    //             $(currentClass).addClass('active');
    //         } else{
    //             $(currentClass).removeClass('active');
    //             $(currentClass).addClass('hidden');
    //         }
    //     }); 

    //     $('.select-state-item').on("click", function(){
    //         $('.mypage-project-select-state-button p').text($(this).text());
    //     }); 
    // });
</script>