<div class="mypage-info-item-wrap-container">
    <div class="mypage-profile-modify-item-container">
        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">이름</p>
            <p class="mypage-modify-unmodifiable-text spoqa-light">이혜인</p>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">직업</p>
            <select name="" id="" class="">
                <option value="">대학생</option>
            </select>
            <p class="mypage-modify-unmodifiable-text spoqa-light">이혜인</p>
        </div>
        
        <!-- <p class="mypage-modify-title-text spoqa-regular">직업</p>
        <p class="mypage-modify-unmodifiable-text spoqa-light">이혜인</p> -->
    </div>
    
</div>