{% load static %}
{% load custom_tags %}
<div class="mypage-info-item-wrap-container">
    <div class="mypage-profile-modify-item-container">
        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">이름</p>
            <p class="mypage-modify-unmodifiable-text spoqa-light">{{profile.name}}</p>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">직업</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="job">
                    <div class="mypage-modify-select-state-button job col_10">
                        <p class="spoqa-light" value="{{profile.job_id.id}}">{{profile.job_id}}</p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="job">
                        <div class="mypage-modify-select-list col_10">
                            {% for job in job %}
                                <a class="select-job-item spoqa-light" value="{{job.id}}">{{job.job}}</a>
                            {% endfor %} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">생년월일</p>
            <div class="mypage-modify-input-wrap">
                <input class="mypage-modify-unmodifiable-cal col_15 spoqa-light"  value={% DateFormat profile.birthday %} type="date" name="birthday">
            </div>
            
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">지역</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="region">
                    <!-- <div class="mypage-modify-select-state-button region col_15">
                        <p class="spoqa-light">경기도 고양시</p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="region">
                        <div class="mypage-modify-select-list col_15">
                            <a class="select-region-item spoqa-light">경기도 고양시</a>
                            <a class="select-region-item spoqa-light">경기도 용인시</a>
                            <a class="select-region-item spoqa-light">경기도 김포시</a>
                        </div>
                    </div> -->
                    <select id = "region1" onchange="categoryChange()" name="region1" required>
                        {% for region1 in region1s %}
                            <option value="{{region1.id}}" class = "{{region1}}">{{region1.region1}}</option>
                        {% endfor %}
                    </select>
                    
                    <select id="region2" name="region2" required>
                        {% for region_1,region_2 in region1_list %}
                            {% if region_1 == '서울시' %}
                                {% for region in region_2 %}  
                                    <option value="{{region.id}}" class = "{{region.region2}}">{{region.region2}}</option>
                                {% endfor %}                     
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">상태</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="state">
                    <div class="mypage-modify-select-state-button state col_15">
                        <p class="spoqa-light">
                            {% if profile.state == 0 %}
                                팀 찾는 중
                            {% elif profile.state == 1 %}
                                팀 참여 중
                            {% elif profile.state == 2 %}   
                                휴식중
                            {% endif %}
                        </p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="state">
                        <div class="mypage-modify-select-list col_15">
                            <a class="select-state-item spoqa-light">팀 찾는 중</a>
                            <a class="select-state-item spoqa-light">팀 참여중</a>
                            <a class="select-state-item spoqa-light">휴식중</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">관심 분야</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="field1">
                    <div class="mypage-modify-select-state-button field1 col_15">
                        <p class="spoqa-light" value="{{profile.field1_id.id}}">{{profile.field1_id}}</p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="field1">
                        <div class="mypage-modify-select-list col_15">
                            {% for field in field1 %}
                            <a class="select-field1-item spoqa-light" value="{{field.id}}">{{field.field1}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">세부 분야</p>
            
            <div class="mypage-modify-input-wrap">
                {% if profile.submit %}
                    <input type="text" class="mypage-modify-input col_15 spoqa-light db_field2" value="{{profile.field2}}">
                {% else %}
                    <input type="text" class="mypage-modify-input col_15 spoqa-light db_field2" placeholder="세부 분야를 적어주세요.">
                {% endif %}
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">선호 기간</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="term">
                    <div class="mypage-modify-select-state-button term col_17">
                        <p class="spoqa-light" value="{{profile.term_id.id}}">{{profile.term_id}} | {% if profile.term_id.term_type %} 장기 {% else %} 단기 {% endif %}</p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="term">
                        <div class="mypage-modify-select-list col_17">
                            {% for term in term %}
                                <a class="select-term-item spoqa-light" value="{{term.id}}">{{term.term}} | {% if term.term_type %} 장기 {% else %} 단기 {% endif %}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">선호 프로젝트</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="type">
                    <div class="mypage-modify-select-state-button type col_17">
                        <p class="spoqa-light" value="{{profile.type}}">{% get_project_type profile.type %}</p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="type">
                        <div class="mypage-modify-select-list col_17">
                            <a class="select-type-item spoqa-light" value="0">창업</a>
                            <a class="select-type-item spoqa-light" value="1">공모전</a>
                            <a class="select-type-item spoqa-light" value="2">프로젝트</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">MBTI</p>
            
            <div class="mypage-modify-dropdown-item-wrap">
                <div class="mypage-modify-select-state spoqa-regular drop_btn" value="mbti">
                    <div class="mypage-modify-select-state-button mbti col_15">
                        <p class="spoqa-light" value = "{{profile.mbti_id.id}}">{{profile.mbti_id}}</p>
                        <img class="mypage-modify-triangle" src="{% static 'image/triangle.png' %}">
                    </div>
        
                    <div class="hidden float" id="mbti">
                        <div class="mypage-modify-select-list col_15">
                            {% for mbti in mbtis %}
                                <a class="select-mbti-item spoqa-light" value="{{mbti.id}}">{{mbti.mbti}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular"></p>
            
            <div class="mypage-modify-input-wrap">
                {% if profile.mbti_detail is not None %}
                    <input type="text" class="mypage-modify-input col_60 spoqa-light db_mbti_detail" value="{{profile.mbti_detail}}">
                {% else %}
                    <input type="text" class="mypage-modify-input col_60 spoqa-light db_mbti_detail" placeholder="자신의 성격에 대해 상세히 적어주세요.">
                {% endif %}
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">연락처</p>
            
            <div class="mypage-modify-row-wrap">
                <div class="mypage-modify-input-switch-wrap">
                    <input type="text" class="mypage-modify-input col_12 spoqa-light db_phone" value="{{profile.phone}}">
                </div>

                <div class="mypage-modify-input-switch-wrap">
                    <input type="checkbox" id="switch" class="checkbox"/>

                    <label for="switch" class="toggle">
                        <p class="spoqa-light public">공개</p>
                        <p class="spoqa-light private">비공개</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">이메일</p>
            
            <div class="mypage-modify-row-wrap">
                <div class="mypage-modify-input-switch-wrap">
                    {% if profile.submit %}
                        <input type="text" class="mypage-modify-input col_15 spoqa-light db_email" value="{{profile.email}}">
                    {% else %}
                        <input type="text" class="mypage-modify-input col_15 spoqa-light db_email" value="">
                    {% endif %}
                </div>

                <div class="mypage-modify-input-switch-wrap">
                    <input type="checkbox" id="switch" class="checkbox"/>

                    <label for="switch" class="toggle">
                        <p class="spoqa-light public">공개</p>
                        <p class="spoqa-light private">비공개</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="mypage-profile-modify-element-wrap">
            <p class="mypage-modify-title-text spoqa-regular">사진</p>
            <div class="mypage-modify-row-wrap">
                <div class="mypage-modify-row-wrap">
                    <!-- <input type="file" id = "upload_photo" accept="image/*"> -->
                    <input class="mypage-modify-list spoqa-light" value="선택된 파일이 없습니다." readonly>
                    <label class="mypage-modify-file spoqa-regular" for="upload_photo">파일 선택</label>
                    <input type="file"  accept="image/*" id="upload_photo" style="display:none;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mypage-info-item-wrap-container">
    <div class="mypage-profile-column-item-container">
        <div class="mypage-profile-detail-info-wrap">
            <p class="mypage-profile-detail-info-title-text spoqa-regular">PR</p>
            {% if profile.pr is not None %}
                <textarea class="mypage-profile-detail-info-content-text  spoqa-light db_pr">{{profile.pr}}</textarea>
            {% else %}
                <textarea class="mypage-profile-detail-info-content-text  spoqa-light db_pr"></textarea>
            {% endif %}
        </div>

        {% if profile.isCarrer %}
            <div class="mypage-profile-detail-info-wrap">
                <p class="mypage-profile-detail-info-title-text spoqa-regular">경력</p>
                    {% for user_carrer in user_carrers %}
                        <p class="mypage-profile-detail-info-content2-text spoqa-light">{{user_carrer.start_date}}~{{user_carrer.end_date}}&nbsp;&nbsp;&nbsp;{{user_carrer.content}}</p>
                    {% endfor %}
            </div>
        {% endif %}

        {% if profile.isLink %}
            <div class="mypage-profile-detail-info-wrap">
                <p class="mypage-profile-detail-info-title-text spoqa-regular">링크</p>
                    {% for user_link in user_links %}
                        <p class="mypage-profile-detail-info-content2-text spoqa-light">{{user_link.link}}</p>
                    {% endfor %}
            </div>
        {% endif %}

        {% if profile.isFile %}
            <div class="mypage-profile-detail-info-wrap">
                <p class="mypage-profile-detail-info-title-text spoqa-regular">파일</p>
                    {% for user_file in user_files %}
                        <p class="mypage-profile-detail-info-content2-text spoqa-light">{{user_file.file.name}}</p>
                    {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<input class="edit-submit-btn" type="submit" value="수정하기">  
<script>
    $(document).ready(function(){
        // 드롭다운 열고 닫는 함수
        $(".drop_btn").on("click", function(){ 
            let className = $(this).attr("value");
            let currentClass = document.getElementById(className);
            if ($(currentClass).is('.hidden')){
                $(currentClass).removeClass('hidden');
                $(currentClass).addClass('active');
            } else{
                $(currentClass).removeClass('active');
                $(currentClass).addClass('hidden');
            }
        }); 
        // job 선택 시
        $('.select-job-item').on("click", function(){
            $('.mypage-modify-select-state-button.job p').text($(this).text());
            $('.mypage-modify-select-state-button.job p').attr('value', $(this).attr('value'));
        }); 
        // 지역 선택 시
        $('.select-region-item').on("click", function(){
            $('.mypage-modify-select-state-button.region p').text($(this).text());
        }); 
        // 상태 선택 시
        $('.select-state-item').on("click", function(){
            $('.mypage-modify-select-state-button.state p').text($(this).text());
        }); 
        // 관심분야 선택 시
        $('.select-field1-item').on("click", function(){
            $('.mypage-modify-select-state-button.field1 p').text($(this).text());
            $('.mypage-modify-select-state-button.field1 p').attr('value', $(this).attr('value'));
        }); 
        // 선호기간 선택 시
        $('.select-term-item').on("click", function(){
            $('.mypage-modify-select-state-button.term p').text($(this).text());
            $('.mypage-modify-select-state-button.term p').attr('value', $(this).attr('value'));
        }); 
        // 선호플젝 선택 시
        $('.select-type-item').on("click", function(){
            $('.mypage-modify-select-state-button.type p').text($(this).text());
            $('.mypage-modify-select-state-button.type p').attr('value', $(this).attr('value'));
        }); 
        // mbti 선택 시
        $('.select-mbti-item').on("click", function(){
            $('.mypage-modify-select-state-button.mbti p').text($(this).text());
            $('.mypage-modify-select-state-button.mbti p').attr('value', $(this).attr('value'));
        }); 
        
    });
    // 지역 선택 시 (region1에 따라 region2가 바뀜)
    function categoryChange(){
        var category = $('select[name=region1] option:selected').val(); //숫자 순서대로 
        var region1 = $('select[name=region1] option:selected').text();
        // console.log(category);
        $("#region2").empty();
        var dict = {{region_list|safe}}
        str = "";
        for(const [key, value] of Object.entries(dict)){
            if(key == region1){
                console.log(value)
                for(v in value){
                    str += `<option value="${value[v][0]}" class = "${value[v][1]}">${value[v][1]}</option>` 
                    // console.log(v)
                }
            }
        }
        $("#region2").append(str);
    }
    // 수정하기 버튼
    $(".edit-submit-btn").on("click", function(){ 
        job_id = $('.mypage-modify-select-state-button.job p').attr('value');
        birthday = $('input[name=birthday]').val();
        region1_id = $('select[name=region1] option:selected').val();
        region2_id = $('select[name=region2] option:selected').val();
        state = $('mypage-modify-select-state-button p').text()
        if(state=="팀 찾는 중"){
            state = 0
        }else if(state = "팀 참여 중"){
            state = 1
        }else{
            state = 2
        }
        field1_id = $('.mypage-modify-select-state-button.field1 p').attr('value');
        field2 = $('.db_field2').val();
        term = $('.mypage-modify-select-state-button.term p').attr('value');
        type = $('.mypage-modify-select-state-button.type p').attr('value');
        mbti = $('.mypage-modify-select-state-button.mbti p').attr('value');
        mbti_detail = $('.db_mbti_detail').val();
        phone = $('.db_phone').val();
        email = $('.db_email').val();
        pr = $('.db_pr').val();
        data = {
            "profile_id":{{profile.id}},
            "job_id":job_id,
            "birthday":birthday,
            "region1_id":region1_id,
            "region2_id":region2_id,
            "state":state,
            "field1_id":field1_id,
            "field2":field2,
            "term":term,
            "type":type,
            "mbti":mbti,
            "mbti_detail":mbti_detail,
            "phone":phone,
            "email":email,
            "pr": pr
        }
        console.log(data)
        $.ajax({
            type: "POST",
            headers:{
                'X-CSRFToken' : '{{csrf_token}}'
            },
            url: "{% url 'modify_profile'%}",
            data: JSON.stringify(data),
            success: function(res) {
                upload_file();
                location.href = "/member/mypage"
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }); 
    function upload_file(){
        photo = $("input[id='upload_photo'")[0].files[0];
        var file_data = new FormData();
        file_data.append("file", photo);
        file_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
        $.ajax({
            method: "POST",
            url: "{% url 'upload_profile_photo' profile.id %}",
            processData: false,
            contentType: false,
            mimeType: "multipart/form-data",
            data: file_data,
            success: function(res) {
                console.log(res)
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
    $("#upload_photo").on('change',function(){
        var fileName = $("#upload_photo").val();
        $(".mypage-modify-list").val(fileName);
    });
</script>