<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamvil</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/team_new.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <form class="team_new-main-container" action="">
        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">프로젝트 종류</p>
            </div>

            <div class="team_new-upper-category-container">
                <div class="team_new-upper-category-item" id="startup" onclick="Startup()">
                    <h6 class="spoqa-bold">S</h6>
                    <p class="spoqa-regular">스타트업(창업)</p>
                </div>
    
                <div class="team_new-upper-category-item" id="contest" onclick="Contest()">
                    <h6 class="spoqa-bold">C</h6>
                    <p class="spoqa-regular">공모전/대외활동</p>
                </div>
    
                <div class="team_new-upper-category-item" id="etc" onclick="Etc()">
                    <h6 class="spoqa-bold">P</h6>
                    <p class="spoqa-regular">기타 프로젝트</p>
                </div>
            </div>
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">프로젝트 명</p>
            </div>

            <input class="team_new-input-long" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">프로젝트 목적</p>
            </div>

            <input class="team_new-input-long" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">분야</p>
            </div>

            <div class="team_new-category-container">
                {% for field1 in field1s %}
                    <div class="team_new-category-item">
                        <input class="team_new-radio" type="radio" name="category">
                        <p class="team_new-radio-name spoqa-light">{{field1.field1}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">세부 분야</p>
            </div>

            <input class="team_new-input-mid" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">지역</p>
            </div>

            <input class="team_new-search" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">전체 팀 인원</p>
            </div>

            <div class="team_new-mem-num-container">
                <input class="team_new-input-short" type="text" name="" id="">
                <p>/</p>
                <input class="team_new-input-short" type="text" name="" id="">
            </div>
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">모집 인원</p>
            </div>

            <div class="team_new-task-container" id="taskContainer">
                <div class="team_new-task">
                    <input class="team_new-input-mid-short" type="text" name="" id="task" placeholder="직무">
                    <p>/</p>
                    <input class="team_new-input-short" type="text" name="" id="num" placeholder="인원">
                    <input class="team_new-add-task spoqa-regular" type="button" value="추가" onclick="addTask()">
                </div>
            </div>
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">직무 설명</p>
            </div>

            <input class="team_new-input-long" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">대표 사진</p>
                <input class="team_new-input-photo" type="file" value="사진 등록">
            </div>

            <img src="" alt="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">프로젝트 소개</p>
            </div>

            <input class="team_new-input-long" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-essential">*</p>
                <p class="team_new-items-title">진행 기간</p>
            </div>

            <div class="team_new-date-container spoqa-regular">
                <input class="team_new-input-date" type="date" name="" id="">
                <p>~</p>
                <input class="team_new-input-date" type="date" name="" id="">
            </div>
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-title">학교</p>
            </div>

            <input class="team_new-search" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-title">학력 제한</p>
            </div>

            <div class="member_search-member-select-state spoqa-regular drop_btn" value="sort">
                <div class="member_search-select-state-button">
                    <p>전체</p>
                    <img class="member_search-chevron" src="{% static 'image/chevron-down.png' %}">
                </div>

                <div class="hidden float" id="sort">
                    <div class="member_search-select-state-list">
                        <a href="">전체</a>
                        <a href="">중졸</a>
                        <a href="">고졸</a>
                        <a href="">학사</a>
                        <a href="">석사</a>
                        <a href="">박사</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-title">링크</p>
            </div>

            <input class="team_new-input-long" type="text" name="" id="">
        </div>

        <div class="team_new-items">
            <div class="team_new-items-title-container">
                <p class="team_new-items-title">파일</p>
            </div>

            <input class="team_new-file" type="file" name="" id="">
        </div>

        <div class="team_form-btn-container">
            <a href="{% url 'team_form' %}"><input class="spoqa-regular" type="button" value="다음으로"></a>
            <!-- <a><button class="spoqa-regular" type="submit">다음으로</button></a> -->
        </div>
    </form>

    {% include 'footer.html' %}
</body>

<script>
    function Startup() {
        var targetS = document.getElementById('startup');
        var targetC = document.getElementById('contest');
        var targetE = document.getElementById('etc');

        targetS.style.backgroundColor = '#0F59FF';
        targetS.style.color = '#FFFFFF';

        targetC.style.backgroundColor = '#FFFFFF';
        targetC.style.color = '#1B1B1B';

        targetE.style.backgroundColor = '#FFFFFF';
        targetE.style.color = '#1B1B1B';
    }

    function Contest() {
        var targetS = document.getElementById('startup');
        var targetC = document.getElementById('contest');
        var targetE = document.getElementById('etc');

        targetS.style.backgroundColor = '#FFFFFF';
        targetS.style.color = '#1B1B1B';

        targetC.style.backgroundColor = '#0F59FF';
        targetC.style.color = '#FFFFFF';

        targetE.style.backgroundColor = '#FFFFFF';
        targetE.style.color = '#1B1B1B';
    }

    function Etc() {
        var targetS = document.getElementById('startup');
        var targetC = document.getElementById('contest');
        var targetE = document.getElementById('etc');

        targetS.style.backgroundColor = '#FFFFFF';
        targetS.style.color = '#1B1B1B';

        targetC.style.backgroundColor = '#FFFFFF';
        targetC.style.color = '#1B1B1B';

        targetE.style.backgroundColor = '#0F59FF';
        targetE.style.color = '#FFFFFF';
    }

    function addTask() { //innetHTML
        var task = document.getElementById('task').value;
        var num = document.getElementById('num').value;

        var newTaskDiv = document.createElement("div");
        newTaskDiv.setAttribute("class", "team_new-task");

        var newTask = document.createElement("p");
        newTask.setAttribute("class", "team_new-task-left");
        var newTaskName = document.createTextNode(task);
        newTask.appendChild(newTaskName);
        newTaskDiv.appendChild(newTask);

        var newSlash = document.createElement("p");
        var newSlashText = document.createTextNode("/");
        newSlash.appendChild(newSlashText);
        newTaskDiv.appendChild(newSlash);

        var newNum = document.createElement("p");
        newNum.setAttribute("class", "team_new-task-right");
        var newNumName = document.createTextNode(num);
        newNum.appendChild(newNumName);
        newTaskDiv.appendChild(newNum);

        var newBtn = document.createElement("input");
        newBtn.setAttribute("type", "button");
        newBtn.setAttribute("value", "삭제");
        newBtn.setAttribute("onclick", "delTask(this)");
        newBtn.setAttribute("class", "team_new-del-task");
        newTaskDiv.appendChild(newBtn);

        var taskContainer = document.getElementById('taskContainer');
        taskContainer.appendChild(newTaskDiv);

        document.getElementById("task").value ='';
        document.getElementById("num").value ='';
    }

    function delTask(child) {
        var parent = child.parentNode;
        parent.parentNode.removeChild(parent);
    }

    // dropdown
    $(document).ready(function(){
        $(".drop_btn").on("click", function(){ 
            let className = $(this).attr("value");
            let currentClass = document.getElementById(className);
            
            if ($(currentClass).is('.hidden')){
                $(currentClass).removeClass('hidden');
                $(currentClass).addClass('active');
            } else{
                $(currentClass).removeClass('active');
                $(currentClass).addClass('hidden');
            }
        }); 
    });
</script>

</html>