.info_detail-wrap-container{
    display: flex;
    justify-content: center;
}
.info_detail-wrap{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    max-width: 990px;
    min-width: 790px;
}
/* 상단 박스 */
.info_detail-box-wrap{
    display: flex;
    width: 100%;
    margin: 0 80px;
    height: 370px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
}
.info_detail-box-img-item{
    width: 260px;
    height: 370px;
    border-radius: 1px 0 0 1px;
}
.info_detail-item-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 50px;
}
.info_detail-content-title-divide-wrap{
    display: flex;
    height: 60px;
}
.info_detail-title-text{
    text-align: justify;
    font-size: 22px;
    line-height: 30px;
}
.info_detail-content-divide-wrap{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.info_detail-box-line-wrap{
    height: 60px;
    display: flex;
    align-items: center;
}
.info_detail-box-line{
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    border: 0;
}
.info_detail-content-content-divide-wrap{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_detail-content-text{
    font-size: 16px;
}
.info_detail-content-etc-divide-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30px;
}
.info_detail-etc-text{
    font-size: 20px;
}
/* 수평선 */
.info_detail-line{
    height: 1px;
    background-color: #ebebeb;
    border: 0;
    width: 100%;
    margin: 40px 0;
}
/* 상세 설명 */
.info_detail-detail-text-wrap{
    margin: 0 95px 20px 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.info_detail-detail-text{
    font-size: 18px;
}
.info_detail-view-text{
    font-size: 13px;
    
}
/* 상세 이미지 */
.info_detail-img-wrap{
    width: 100%;
    padding: 0 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_detail-img-item{
    max-width: 100%;
    margin-bottom: 30px;
}
/* 상세 설명 텍스트 */
.info_detail-desc-text{
    width: 100%;
    font-size: 16px;
    margin: 0 95px;
    text-align: justify;
    line-height: 30px;
}
/* 링크, 파일 */
.info_detail-detail-text-inline-wrap{
    width: 100%;
    margin: 0 80px 70px 80px;
    display: flex;
}
.info_detail-link-wrap{
    margin-top: 5px;
    margin-left: 30px;
}
.info_detail-link-text{
    font-size: 14px;
    margin-bottom: 8px;
}