hr {
    margin: 15px 0;
}

.member_search-main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.member_search-member-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 20px;
}

.member_search-member-item {
    width: 275px;
    height: 222px;
    border: 1px solid #D7D7D7;
    border-radius: 1px;
    padding: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.member_search-member-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

.member_search-member-name-container {
    display: flex;
    align-items: center;
}

.member_search-member-image {
    width: 50px;
    height: 50px;
    border-radius: 75px;
    margin-right: 15px;
}