.message-wrap-container{
    display: flex;
    justify-content: center;
}
.message-wrap-container{
    display: flex;
    justify-content: center;
}
.payment-wrap{
    width: 100%;
    margin: 70px 0 30px -30px;
    display: flex;
    justify-content: flex-end;
}
.question-wrap div {
    position: relative;
    display: inline-block;
}
.payment-text{
    margin: auto 0;
    margin-right: 5px;
    font-size: 14px;
}
.question-wrap{
    margin: auto 0;
}
.question-mark{
    margin-top: 5px;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    cursor: pointer;
}
.question-text {
    display: none;
    position: absolute;
    width: 310px;
    margin-top: 15px;
    margin-left: -155px;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 8px;
    background: #ebebeb;
    color: #000;
    font-size: 12px;
}

.question-text:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #ebebeb;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

.question-mark:hover + p.question-text {
    display: block;
}

.payment-btn {
    width: 100px;
    height: 30px;
    border: 1px solid #0F59FF;
    border-radius: 3px;
    background-color: #ffffff;
    color: #0F59FF;
    font-size: 13px;
}

.payment-btn:hover {
    cursor: pointer;
    background-color: #0F59FF;
    color: #ffffff;
}
.message-wrap{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    min-width: 900px;
    max-width: 1600px;
    height: 700px;
}
.message-list-wrap-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 18vw;
    min-width: 250px;
    max-width: 350px;
    border-right: 1px solid #ebebeb;
}
.message-list-scroll{
    height: 100%;
    overflow-y: auto;
}
.message-member-none{
    font-size: 14px;
    text-align: center;
    line-height: 300px;
}
.message-select-member-none{
    font-size: 14px;
    margin: 0 auto;
}
.message-list-item{
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}
.message-member-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 15px;
}
.message-member-name-text{
    font-size: 14px;
    margin-right: auto;
}
.message-select-member-name-text{
    font-size: 14px;
    margin-right: auto;
}
.message-state-text {
    margin-top: 15px;
    font-size: 12px;
    margin-right: 20px;
}
.message-detail-wrap-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.message-member-info-item{
    margin: 0 30px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.color-blue{
    color: #0f59ff;
}
.message-content-item{
    height: 100%;
    overflow-y: auto;
}
/* 보낸 메시지 */
.message-content-item{
    padding: 20px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}
.message-receive-content-item{
    padding: 13px 18px;
    margin-right: auto;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    border: 1px solid #ebebeb;
    border-radius: 15px;
}
.message-receive-text{
    font-size: 12px;
}
.message-receive-date{
    color: #6C6C6C;
    font-size: 10px;
    margin: 5px 0 10px 15px;
    margin-right: auto;
}
.message-send-date{
    color: #6C6C6C;
    font-size: 10px;
    margin: 5px 15px 10px 0;
    margin-left: auto;
}
.message-send-content-item{
    padding: 13px 18px;
    margin-left: auto;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    margin-right: 15px;
}
/* 메시지 전송 */
.message-send-box-item{
    height: 65px;
    margin: 0 30px;
    border-top: 1px solid #ebebeb;
    display: flex;
    align-items: flex-end;
}
.message-input{
    width: 85%;
    height: 22px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    resize: none;
}
/* 전송 버튼 */
.message-submit-btn {
    height: 32px;
    width: 80px;
    margin-left: auto;
    background-color: #0F59FF;
    border: 1px solid #0F59FF;
    border-radius: 5px;
    color: #ffffff;
}
.message-submit-btn:hover {
    cursor: pointer; 
}