.team_application-container{
    margin: 67px 119px;
    display: flex;
}

.team_application-scroll{
    width: 200px;
    padding: 0px 13px 0px 13px;
    overflow-y: scroll;
    height: 200px;
    box-sizing: border-box;
    color: #1b1b1b;
    background-color: #ffffff;
    margin-bottom: 200px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
}

/* 스크롤바*/
.type::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대*/
.type::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #D0D0D0;
    border-radius: 3px;    
}

/* 스크롤바 뒷 배경*/
.type::-webkit-scrollbar-track{
    background-color: #EBEBEB;
}