<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamvil</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="community-box">
        <section class="community-top-container spoqa-regular">
            <button onclick="newCommunity()">글쓰기</button>
        </section>

        <main class="community-main-container">
            <section class="community-item" onclick="openDetail()">
                {% for community in community.all %}
                    <div class="community-profile-container">
                        <img class="community-profile-img" src="{% static 'image/cloud.jpg' %}" alt="">
                        <p class="spoqa-regular">{% Name community.user_id.id %}</p>
                    </div>

                    <div class="community-content-container spoqa-light community-list-item" com_id = "{{community.id}}">
                        <p class="community-content">{{community.content}}</p>
                    
                        <div class="community-extra-container">
                            <div class="community-datetime-container">
                                <p>{% TimeFormat community.write_date %}</p>
                                <p>|</p> 
                                <p>{% HourFormat community.write_date %}</p>
                            </div>
        
                            <div class="community-comment-view-container">
                                <div class="community-comment-view-item">
                                    <p>댓글</p>
                                    <p>7</p> 
                                </div>
        
                                <div class="community-comment-view-item">
                                    <p>조회</p>
                                    <p>{{community.view_cnt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>

        <section class="community-bottom-container">
            <p>pagination</p>
        </section>
    </div>

    <!-- write -->
    <div id="write">
        <div class="community-new-box">
            <div class="community-close-btn">
                <img src="{% static 'image/x-button.png' %}" onclick="closeNew()" alt="">
            </div>

            <div class="community-content-box">
                <div class="community-profile-container">
                    <img class="community-profile-img" src="{% static 'image/cloud.jpg' %}" alt="">
                    <p class="spoqa-regular">{{user}}</p>
                </div>

                <textarea class="spoqa-light-content" placeholder="새로운 글을 작성해주세요!" name="" id=""></textarea>
    
                <div class="community-write-btn-container">
                    <button class="spoqa-regular-submit">완료</button>
                </div> 
                <!-- 위에 class 이름 수정함 -->
            </div>
        </div>
    </div>

    <!-- detail -->
    <div id="detail">
    </div>    
    {% include 'footer.html' %}
</body>

<script>
    function newCommunity() {
        document.getElementById('write').style.display = 'flex';
    }
    
    function closeNew() {
        document.getElementById('write').style.display = 'none';
    }

    function openDetail() {
        document.getElementById('detail').style.display = 'flex';
    }

    function closeDetail() {
        document.getElementById('detail').style.display = 'none';
    }

    $(document).ready(function(){
        $(".spoqa-regular-submit").on("click", function() {
            var content = {
                'content' : $('.spoqa-light-content').val()
            }
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'community_new_db_back' %}",
                data: JSON.stringify(content),
                success: function(res) {
                    let url = "{% url 'community_list_back' %}";
                    location.replace(url);
                }
            })
        });
        $(".community-list-item").on("click", function() {
            var com_id = $(this).attr('com_id');
            var url = '/community/community_detail_content/' + com_id;
            // console.log(com_id)
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: url,
                success: function(res) {
                    console.log(res);
                    $('#detail').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        })

        
    });

    // var commentId = 0;
    // function addComment() {
    //     // document.body.classList.add("stop-scroll");
    //     var list = document.getElementsByClassName('community-comment-list');
    //     var comment = document.getElementById('comment').value;

    //     var newCommentCon = document.createElement('div');
    //     newCommentCon.setAttribute('class', 'community-content-item');

    //     var newCommentProfileDiv = document.createElement('div');
    //     newCommentProfileDiv.setAttribute('class', 'community-profile-container');
    //     // 이미지
    //     var newCommentProfileImg = document.createElement('img');
    //     newCommentProfileImg.setAttribute('class', 'community-profile-img');
    //     newCommentProfileImg.setAttribute('src', "{% static 'image/cloud.jpg' %}");
    //     newCommentProfileDiv.appendChild(newCommentProfileImg);
    //     // 이름
    //     var newCommentProfileName = document.createElement('p');
    //     newCommentProfileName.setAttribute('class', 'spoqa-regular');
    //     newCommentProfileName.setAttribute('id', 'replyName');
    //     newCommentProfileName.append('조자운');
    //     newCommentProfileDiv.appendChild(newCommentProfileName);
    //     newCommentCon.appendChild(newCommentProfileDiv);
    //     //댓글내용
    //     var newCommentDiv = document.createElement('div');
    //     newCommentDiv.setAttribute('class', 'community-content-container spoqa-light');
    //     //대댓글레디공간
    //     var newComment = document.createElement('p');
    //     newComment.setAttribute('class', 'community-comment-content');
    //     newComment.append(comment); //id comment부분인가? 123번째 라인
    //     newCommentDiv.appendChild(newComment);
    //     // datetime
    //     var newCommentDatetimeDiv = document.createElement('div');
    //     newCommentDatetimeDiv.setAttribute('class', 'community-comment-datetime-container');
    //     var newCommentDatetime1 = document.createElement('p');
    //     newCommentDatetime1.append('2021.07.21');
    //     newCommentDatetimeDiv.appendChild(newCommentDatetime1);
    //     var newCommentDatetime2 = document.createElement('p');
    //     newCommentDatetime2.append('|');
    //     newCommentDatetimeDiv.appendChild(newCommentDatetime2);
    //     var newCommentDatetime3 = document.createElement('p');
    //     newCommentDatetime3.append('21:45');
    //     newCommentDatetimeDiv.appendChild(newCommentDatetime3);
    //     newCommentDiv.appendChild(newCommentDatetimeDiv);
    //     newCommentCon.appendChild(newCommentDiv);

    //     var newReplyCon = document.createElement('div');
    //     newReplyCon.setAttribute('class', 'community-reply-list ' + commentId);
    //     var newReplyDiv = document.createElement('div');
    //     newReplyDiv.setAttribute('class', "community-reply-container");
    //     var newReplyItems = document.createElement('div');
    //     newReplyItems.setAttribute('class', "community-reply-item");
    //     var newReplyImg = document.createElement('img');
    //     newReplyImg.setAttribute('class', "community-reply-img");
    //     newReplyImg.setAttribute('src', "{% static 'image/arrow-line.png' %}");
    //     newReplyItems.appendChild(newReplyImg);
    //     //대댓글 레디 내용
    //     var newReplyInput = document.createElement('textarea');
    //     newReplyInput.setAttribute('class', "community-comment-input spoqa-light");
    //     newReplyInput.setAttribute('id', commentId);
    //     newReplyItems.appendChild(newReplyInput);
    //     newReplyDiv.appendChild(newReplyItems);
    //     //대댓글 레디 버튼
    //     var newReplyBtnDiv = document.createElement('div');
    //     newReplyBtnDiv.setAttribute('class', 'community-write-btn-container');

    //     var newReplyBtn = document.createElement('input');
    //     newReplyBtn.setAttribute('class', "community-comment-btn spoqa-light");
    //     newReplyBtn.setAttribute('type', 'button');
    //     newReplyBtn.setAttribute('value', '댓글 작성');
    //     newReplyBtn.setAttribute('onClick', "addReply(" + newReplyInput.id + ")");
    //     newReplyBtnDiv.appendChild(newReplyBtn);
    //     newReplyDiv.appendChild(newReplyBtnDiv);
    //     newReplyCon.appendChild(newReplyDiv);
    //     newCommentCon.appendChild(newReplyCon);

    //     list[0].appendChild(newCommentCon);
    //     commentId++;
    //     document.getElementById('comment').value = '';
    // }

    // function addReply(thisId) {
    //     // document.body.classList.add("stop-scroll");
    //     var replyList = document.getElementsByClassName(thisId);
    //     var reply = document.getElementById(thisId).value;

    //     var newReplyBox = document.createElement('div');
    //     newReplyBox.setAttribute('class', "community-reply-box");

    //     var newReplyImg = document.createElement('img');
    //     newReplyImg.setAttribute('class', "community-reply-img");
    //     newReplyImg.setAttribute('src', "{% static 'image/arrow-line.png' %}");
    //     newReplyBox.appendChild(newReplyImg);

    //     var newReplyCon = document.createElement('div');

    //     var newReplyProfileDiv = document.createElement('div');
    //     newReplyProfileDiv.setAttribute('class', 'community-profile-container');
    //     var newReplyProfileImg = document.createElement('img');
    //     newReplyProfileImg.setAttribute('class', 'community-profile-img');
    //     newReplyProfileImg.setAttribute('src', "{% static 'image/cloud.jpg' %}");
    //     newReplyProfileDiv.appendChild(newReplyProfileImg);
    //     var newReplyProfileName = document.createElement('p');
    //     newReplyProfileName.setAttribute('class', 'spoqa-regular');
    //     newReplyProfileName.setAttribute('id', 'replyName');
    //     newReplyProfileName.append('조자운');
    //     newReplyProfileDiv.appendChild(newReplyProfileName);
    //     newReplyCon.appendChild(newReplyProfileDiv);

    //     var newReplyDiv = document.createElement('div');
    //     newReplyDiv.setAttribute('class', 'community-content-container spoqa-light');
    //     var newReply = document.createElement('p');
    //     newReply.setAttribute('class', 'community-comment-content');
    //     newReply.append(reply);
    //     newReplyDiv.appendChild(newReply);
    //     // datetime
    //     var newCommentDatetimeDiv = document.createElement('div');
    //     newCommentDatetimeDiv.setAttribute('class', 'community-comment-datetime-container');
    //     var newCommentDatetime1 = document.createElement('p');
    //     newCommentDatetime1.append('2021.07.21');
    //     newCommentDatetimeDiv.appendChild(newCommentDatetime1);
    //     var newCommentDatetime2 = document.createElement('p');
    //     newCommentDatetime2.append('|');
    //     newCommentDatetimeDiv.appendChild(newCommentDatetime2);
    //     var newCommentDatetime3 = document.createElement('p');
    //     newCommentDatetime3.append('21:45');
    //     newCommentDatetimeDiv.appendChild(newCommentDatetime3);
    //     newReplyDiv.appendChild(newCommentDatetimeDiv);
    //     newReplyCon.appendChild(newReplyDiv);

    //     newReplyBox.appendChild(newReplyCon);
    //     replyList[0].appendChild(newReplyBox);

    //     document.getElementById(thisId).value = '';
    // }
</script>

</html>