<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="community-box">
        <section class="community-top-container spoqa-regular">
            <button onclick="newCommunity()">글쓰기</button>
        </section>

        <main class="community-main-container">

            {% for community in posts %}
            <section class="community-item" onclick="openDetail()">
                <div class="community-profile-container" profile_id = '{% get_profile_id community.user_id.id %}'>
                    <img class="community-profile-img" src="{% static 'image/cloud.jpg' %}" alt="">
                    <p class="spoqa-regular">{% Name community.user_id.id %}</p>
                </div>

                <div class="community-content-container spoqa-light community-list-item" com_id = "{{community.id}}">
                    <p class="community-content">{{community.content}}</p>
                
                    <div class="community-extra-container">
                        <div class="community-datetime-container">
                            <p>{% TimeFormat community.write_date %}</p>
                            <p>|</p>
                            <p>{% HourFormat community.write_date %}</p>
                        </div>
    
                        <div class="community-comment-view-container">
                            <div class="community-comment-view-item">
                                <p>댓글</p>
                                <p>7</p>
                            </div>
    
                            <div class="community-comment-view-item">
                                <p>조회</p>
                                <p>{{community.view_cnt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% endfor %}
        </main>

        <section class="community-bottom-container">
            <p>{% if posts.has_previous %}
                <a href="?page=1">First</a>
                
                <a href="?page={{posts.previous_page_number}}">Previous</a>
            {% endif %}
        
            <span>{{posts.number}}</span>
            <span>of</span>
            <span>{{posts.paginator.num_pages}}</span>
        
            {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}">Next</a>
                <a href="?page={{posts.paginator.num_pages}}">Last</a>
            {% endif %}</p>
            
        </section>
    </div>

    <!-- write -->
    <div id="write" class="background">
        <div class="community-new-box">
            <div class="community-close-btn">
                <img src="{% static 'image/x-button.png' %}" onclick="closeNew()" alt="">
            </div>

            <div class="community-content-box">
                <div class="community-profile-container">
                    <img class="community-profile-img" src="{% static 'image/cloud.jpg' %}" alt="">
                    <p class="spoqa-regular">{{user}}</p>
                </div>

                <textarea class="spoqa-light write-content-text" name="" id=""></textarea>
    
                <div class="community-write-btn-container">
                    <button class="spoqa-regular write-submit-btn" onclick="closeNew()">글쓰기</button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- detail -->
    <div id="detail" class="background">
    </div>
    
    {% include 'footer.html' %}
</body>

<script>
    document.getElementById('write').addEventListener("click", e => {
        const evTarget = e.target;

        if (evTarget.classList.contains("background")) {
            closeNew();
        }
    })

    document.getElementById('detail').addEventListener("click", e => {
        const evTarget = e.target;
        
        if (evTarget.classList.contains("background")) {
            closeDetail();
        }
    })

    function newCommunity() {
        document.getElementById('write').style.display = 'flex';
        document.body.classList.add("stop-scroll");
    }
    
    function closeNew() {
        document.getElementById('write').style.display = 'none';
        document.body.classList.remove("stop-scroll");
    }

    function openDetail() {
        document.getElementById('detail').style.display = 'flex';
        document.body.classList.add("stop-scroll");
    }

    function closeDetail() {
        document.getElementById('detail').style.display = 'none';
        document.body.classList.remove("stop-scroll");
    }

    $(document).ready(function(){
        $(".write-submit-btn").on("click", function() {
            var content = {
                'content' : $('.write-content-text').val()
            }
            console.log(content)
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'community_new' %}",
                data: JSON.stringify(content),
                success: function(res) {
                    let url = "{% url 'community' %}";
                    location.replace(url);
                }
            })
        });

        $(".community-list-item").on("click", function() {
            var com_id = $(this).attr('com_id');
            var url = '/community/community_detail_content/' + com_id;
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: url,
                success: function(res) {
                    $('#detail').html(res);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });

        $('.community-profile-container').on("click", function() {
            var url = "/member/member_detail/" + $(this).attr('profile_id');
            location.href = url;
        });

        $('.reply_submit').on("click",function(){
            console.log(111);
            parent = $(this).attr('parent');
            var content = { 
                'reply_content' : $('.reply_content_'+parent).val(),
                'com_id' : $(this).attr('com_id'),
                'parent' : parent,

            }
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: "{% url 'reply' %}",
                data: JSON.stringify(content),
                success: function(res) {
                    html_str =`<div class="community-reply-box">
                                <img class="community-reply-img" src="/static/image/arrow-line.png">
                                <div>
                                    <div class="community-profile-container">
                                        <img class="community-profile-img" src="/static/image/cloud.jpg">
                                        <p class="spoqa-regular" id="replyName">${res.user}</p>
                                    </div>
                                    
                                    <div class="community-content-container spoqa-light">
                                        <p class="community-comment-content">${res.comment}</p>
                                        
                                        <div class="community-comment-datetime-container">
                                            <p>2021.07.21</p>
                                            <p>|</p>
                                            <p>21:45</p>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    $('.community-reply-list_'+parent).append(html_str);
                    $('.reply_content_'+parent).val("");
                }
            });
        })
    });

    
</script>
    

</html>