<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamvil</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}"/>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="info-wrap-container margin">
            <div class="info-wrap">
                <div class="width-width">
                    <a class="float-left" href="{% url 'register_info' %}"><input class="register_info-signup-submit-btn" type="submit" value="게시 요청"></a> 
                </div>
                {% for info in infoList %}
                    <a href="{% url 'info_detail' info.id %}">
                        <div class="info-content-box-wrap">
                            {% if info.image.url is not None %}
                                <img class="info-img-item" src="{{info.image.url}}" alt="">
                            {% else %}
                                <img class="info-img-item" alt="" style="background-color: #ebebeb;">
                            {% endif %}
                            <div class="info-content-item-wrap">
                                <div class="info-content-title-divide-wrap">
                                    <p class="info-title-text spoqa-regular">{{info.title}}</p>
                                </div>
                                <div class="info-content-content-divide-wrap">
                                    <p class="info-content-text spoqa-regular">주최 : {{info.host}}</p>
                                    <p class="info-content-text spoqa-regular">
                                        장소 : {% if info.location is not none %}{{info.location}}{% else %}없음{% endif %}
                                    </p>
                                </div>
                                <div class="info-content-etc-divide-wrap">
                                    <p class="info-etc-text spoqa-regular">조회 {{info.view_cnt}}</p>
                                    <p class="info-etc-text spoqa-regular">{% if info.end_date is not none%}{% Dday info.end_date %}{% else %}미정{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="page-wrap">
            <a href="?page=1" class="spoqa-light page"><<</a>
            {% for l in  infoList.paginator.page_range %}
                {% if infoList.number == forloop.counter %}
                    <a href="?page={{forloop.counter}}" class="spoqa-light active page">{{forloop.counter}}</a>
                {% else %}
                    <a href="?page={{forloop.counter}}" class="spoqa-light page">{{forloop.counter}}</a>
                {% endif %}
            {% endfor %}
            <a href="?page={{infoList.paginator.num_pages}}" class="spoqa-light page">>></a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

<script>
    
</script>
</html>