<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/info_detail.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="info_detail-wrap-container content margin">
        <div class="info_detail-wrap">
            <div class="info_detail-box-wrap">
                {% if info.image.url is not None %}
                    <img class="info_detail-box-img-item" src="{{info.image.url}}" alt="">
                {% else %}
                    <img class="info_detail-box-img-item" alt="" style="background-color: #ebebeb;">
                {% endif %}
                <div class="info_detail-item-wrap">
                    <div class="info_detail-content-title-divide-wrap">
                        <p class="info_detail-title-text spoqa-light">{{info.title}}</p>
                    </div>

                    <div class="info_detail-content-divide-wrap">
                        <p class="info_detail-content-text spoqa-light">주최 : {{info.host}}</p>
                    </div>

                    <div class="info_detail-box-line-wrap">
                        <hr class="info_detail-box-line">
                    </div>

                    <div class="info_detail-content-content-divide-wrap">
                        <p class="info_detail-content-text spoqa-light">장소 : {% if info.location is not none %}{{info.location}}{% else %}없음{% endif %}</p>
                        <p class="info_detail-content-text spoqa-light">기간 : {% if info.start_date is not none %}{%DateFormatDot info.start_date%} - {%DateFormatDot info.end_date%}{% else %}없음{% endif %}</p>
                    </div>

                    <div class="info_detail-content-etc-divide-wrap">
                        <p class="info_detail-etc-text spoqa-light">D  {% Dday info.end_date %}</p>
                    </div>
                </div>
            </div>

            <hr class="info_detail-line">

            <div class="info_detail-detail-text-wrap">
                <p class="info_detail-detail-text spoqa-light">상세 설명</p>
                <p class="info_detail-view-text spoqa-light">조회 81</p>
            </div>
            {% if info.image.url is not None %}
                <div class="info_detail-img-wrap">
                    <img class="info_detail-img-item" src="{{info.image.url}}" alt="">
                </div>
            {% endif %}
            <p class="info_detail-desc-text spoqa-light">
                {{info.content}}
            </p>

            {% if info_link or info_files  %}
                <hr class="info_detail-line">

                {% if info_link  %}
                    <div class="info_detail-detail-text-inline-wrap">
                        <p class="info_detail-detail-text spoqa-light">링크</p>

                        <div class="info_detail-link-wrap">
                            {% for item in info_link %}
                                <p class="info_detail-link-text spoqa-light">{{item.link}}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if info_link  %}
                    <div class="info_detail-detail-text-inline-wrap">
                        <p class="info_detail-detail-text spoqa-light">파일</p>

                        <div class="info_detail-link-wrap">
                            {% for item in info_files %}
                                <p class="info_detail-link-text spoqa-light">{{item.file.url}}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>

<script>
    
</script>
</html>