.team_application-main-container {
    margin: 50px 400px;
}

/* title */
.team_application-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team_application-title-container h5 {
    font-size: 23px;
    margin-bottom: 3px;
}

.team_application-title-container p {
    font-size: 13px;
    margin-bottom: 2px;
}

/* content */
.team_application-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;
}

/* select-task */
.team_application-select-task-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.team_application-select-task-container h6 {
    font-size: 18px;
    margin-bottom: 10px;
}

.team_application-tasks {
    display: flex;
}

.team_application-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #0F59FF;
    border-radius: 1px;
    background-color: #FFFFFF;
    width: auto;
    padding: 0 10px;
    height: 25px;
    font-size: 12px;
    text-align: center;
}
.team_application-task.active {
    background-color: #0F59FF !important;
    color: #FFFFFF !important;
}

/* profile */
.team_application-profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.team_application-profile-container h6 {
    font-size: 18px;
    margin-right: 10px;
}

.team_application-profile-container input {
    font-size: 18px;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.team_application-profile-container p {
    font-size: 11px;
    color: #0F59FF;
}

/* questions */
.team_application-question-container {
    
}

.team_application-question-container h6 {
    font-size: 18px;
}

.team_application-questions {

}

.team_application-question-item {

}

.team_application-question {
    display: flex;
    align-items: center;
    margin: 50px 0 20px 0;
}

.team_application-essential {
    color: #0F59FF;
    padding-top: 0.2em;
}

.team_application-question-content {
    margin-left: 0.5em;
}

.team_application-option-list {
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.team_application-option-list input {
    margin-right: 5px;
}

.team_application-option-list p {
    font-size: 14px;
    margin-right: 15px;
}

.team_application-answer-area {
    margin-left: 14px;
}

.team_application-answer-area input {
    width: 60%;
    height: 10px;
    border: 1px solid #ebebeb;
    padding: 10px;
}

.team_application-answer-area input:focus {
    outline: none;
}

.team_application-answer-area textarea {
    width: 97%;
    height: 100px;
    border: 1px solid #ebebeb;
    padding: 10px;
}

.team_application-answer-area textarea:focus {
    outline: none;
}

/* submit */
.team_application-submit-container {
    display: flex;
    flex-direction: row-reverse;
}

.team_application-submit-btn {
    padding: 3px 10px;
    border: 1px solid #0F59FF;
    border-radius: 1px;
    background-color: #0F59FF;
    color: #FFFFFF;
}

.team_application-submit-btn:hover {
    cursor: pointer;
}

