.teamname {
    position: absolute;
    width: 1219.2px;
    height: 504.02625px;
    left: 150px;
    top: 75px;
    align-items: center;
    text-align: center;
    background-image: url(cloud.jpg);
}

#teamtype {
    position: absolute;
    width: 90px;
    height: 23px;
    left: 865px;
    top: 402px;
}