.team_detail-container {
    margin: 0 118.6875px;
    min-width: 800px;
    /* display: inline-grid; */
    /* grid-template-columns: repeat(auto-fit); */
}


.team_detail-name {
    margin: 11px 0;
    display: grid;
    justify-content: center;
    width: 100%;
    height: 504.02625px;
    left: 150px;
    top: 75px;
    align-items: center;
    text-align: center;
    background-image: url(../image/cloud.jpg);
    background-size: 1345.625px 504.020625px;
}

header {
    text-align: center;
    width: 536.4675px;
    padding: 27.69375px;
    background-color: rgba(255, 255, 255, 0.8);
}


.team_detail-title {
    padding: 23px 0 10px 0;
    font-size: 25.32px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
}

#team_detail-type {
    padding: 10px;
    width: 90px;
    height: 23px;
    left: 865px;
    top: 402px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
}

.team_detail-type-bar {
    padding: 0 13px;
}

#team_detail-field1 {
    padding: 10px;
    width: 90px;
    height: 23px;
    left: 865px;
    top: 402px;
}

.team_detail-leader {
    /* margin-top: 17.4075px; */
    text-align: right;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 400;
}

.team_detail-info {
    height: 70px;
    padding: 55px 0;
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
}

.team_detail-desc {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 19px;
    text-align: center;
}

.team_detail-info-head {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.team_detail-info-head span {
    padding: 0 7px;
}

.team_detail-content-container {
    display: flex;
    border-top: 0;
    border-bottom: 1px #ebebeb solid;
    border-right: 0px;
    border-left: 0px;
}

.team_detail-content {
    width: 871.16625px;
     
}

.team_detail-content-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18.99px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
}

.team_detail-content-body {
    padding-right:40px;
    margin-bottom: 30px;
    line-height: 150%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    font-size: 15px;
}

hr {
    margin: 22px 0;
    width: 1px;
    background-color: #ebebeb;
    border: 0;
}

.team_detail-info-detail {
    display: inline-grid;
    width: 365.5575px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.team_detail-info-detail-button-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.team_detail-apply-button {
    margin-left: 10px;
    justify-self: end;
}

.team_detail-apply {
    width: 72.795px;
    height: 24.52875px;
    border: 1px solid #0f59ff;
    padding: 5px 13px;
    color: #0f59ff;  
    font-size: 10px;
    background-color: #ffffff;
    margin-left: auto;
}

.team_detail-apply:hover {
    background-color: #0f59ff;
    color: #ffffff; 
    cursor: pointer; 
}

.team_detail-info-detail-title {
    margin-right: 60px;
    font-size: 19px;
    padding: 9px 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
}

.team_detail-info-detail-body {
    font-size: 15px;
    padding: 2px 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
}

.team_detail-info-detail-title-margin {
    margin-bottom: 43.5px;
}

.team_detail-info-detail-content {
    margin-bottom: 15px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 100;
    font-size: 13px;
}

.team_detail-info-etc {
    margin: 30px 0;
}

.team_detail-info-etc p {
    padding: 12px 0;
}

.team_detail-info-etc-title {
    display: inline-block;
    width: 83px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
    font-size: 19px;
    padding-right: 10px;
}

.team_detail-info-etc-body {
    margin-left: 100px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    font-size: 15px;
}

.team_detail-info-etc-body1 {
    margin-left: 100px;
    color: #ff0000;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    font-size: 15px;
}


/* like-scrap */
.team_detail-like-scrap-container {
    display: flex;
    margin-right: 20px;
    margin-top: 15px;
    justify-content: center;
}

.team_detail-like-scrap-item {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
    font-size: 11px;
}

.team_detail-like-scrap-item img {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    margin-left: 10px;
}

.like.active{
    content:url("../image/like-btn.png");
}

.scrap.active{
    content:url("../image/scrap-btn.png");
}

