.team_review-container {
    display: grid;
    margin: 70px 350px;
}

.team_review-title {
    text-align: center;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
    margin-top: 10px;
}

.team_review-list {
    text-align: center;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 30px;
}

.team_review-head {
    display: flex;
    justify-content: space-between;
}

.team_review-name {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    border: solid 1px #ebebeb;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.team_review-box {
    height: 130px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 90px;
    padding: 10px;
    resize: none;
}

.team_review-box:focus {
    outline: none;
}

.team_review-submit {
    justify-self: end;
    height: 30px;
    width: 70px;
    background-color: #0F59FF;
    border: 1px solid #0F59FF;
    border-radius: 1px;
    color: #ffffff;
}

.team_review-submit:hover {
    background-color: #ffffff;
    color: #0f59ff; 
    cursor: pointer; 
}


input[type=radio] { 
    display:none;
}
input[type=radio] + label { 
    cursor: pointer; 
    line-height: 22px; 
    padding-left: 22px; 
    background: url(../image/star.png) left/22px no-repeat; 
}
.active + label{ 
    background: url(../image/star2.png) left/22px no-repeat !important; 
}

.profile-img{
    width: 25px;
    height: 25px;
    margin: 2px 4px;
}
.profile-name-text{
    font-size: 14px;
    margin: 2px 4px;
}
.star-input{
    display: flex;
}
/* 별점 CSS
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{
    display: inline-block;
    vertical-align: top;
    background: url(../image/starpoint.png) no-repeat;
}
.star-input{
    white-space: nowrap;
}
.star-input>.input{
    display:inline-block;
    width: 100px;
    background-size: 100px;
    height: 19px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.star-input>.input>input{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.star-input>.input.focus{
    outline: 1px dotted #ddd;
}
.star-input>.input>label{
    width: 10px;
    height: 0;
    padding: 19px 0 0 0;
    overflow: hidden;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{
    background-size: 100px;
    background-position: 0 bottom;
}
.star-input>.input>label:hover~label{
    background-image: none;
}

.star-input>.input>label[for="p1"]{ 
    width: 20px;
    z-index: 9;
}

.star-input>.input>label[for="p2"]{ 
    width: 40px;
    z-index: 7;
}

.star-input>.input>label[for="p3"]{ 
    width: 60px;
    z-index: 5;
}

.star-input>.input>label[for="p4"]{ 
    width: 80px;
    z-index: 3;
}

.star-input>.input>label[for="p5"]{ 
    width: 100px;
    z-index: 1;
}
.star-input>output{
    display: inline-block;
    width: 36px;
    text-align: right;
}
.star-input>output>b{
    font:bold 18px Helvetica, Arial, sans-serif;
    vertical-align: middle;
} */

