<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamvil</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/info_detail.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="info_detail-wrap-container margin">
        <div class="info_detail-wrap">
            <div class="info_detail-all-contents-wrap">
                <div class="info_detail-box-wrap">
                    <img class="info_detail-box-img-item" src="{% static 'image/cloud.jpg' %}" alt="">
                    <div class="info_detail-item-wrap">
                        <div class="info_detail-content-title-divide-wrap">
                            <p class="info_detail-title-text spoqa-regular">2021 파스-타 기반 서비스 개발 및 아이디어 공모전</p>
                        </div>
                        <div class="info_detail-content-divide-wrap">
                            <p class="info_detail-content-text spoqa-regular">주최 : 과학기술정보통신부</p>
                        </div>
                        <div class="info_detail-box-line-wrap">
                            <hr class="info_detail-box-line">
                        </div>
                        <div class="info_detail-content-content-divide-wrap">
                            <p class="info_detail-content-text spoqa-regular">장소 : 대한상공회의소</p>
                            <p class="info_detail-content-text spoqa-regular">기간 : 2021. 07. 21 - 2021. 08. 01</p>
                        </div>
                        <div class="info_detail-content-etc-divide-wrap">
                            <p class="info_detail-etc-text spoqa-medium">D - 81</p>
                        </div>
                    </div>
                </div>
                <hr class="info_detail-line">
                <div class="info_detail-detail-text-wrap">
                    <p class="info_detail-detail-text spoqa-light">상세 설명</p>
                </div>
                
                <!-- <div class="info_detail-detail-desc-wrap"> -->
                <!-- <p class="info_detail-desc-text spoqa-light">
                    오직 바이며, 때에, 꽃이 광야에서 관현악이며, 부패뿐이다. 간에 미묘한 그들을 우는 그들은 자신과 두기 아니다. 가지에 아름답고 그러므로 노래하며 풀이 이것이다. 뛰노는 아니더면, 풀이 것이다. 실로 그들은 미인을 이것이다. 불어 하는 것은 이상의 불러 무엇을 우리는 웅대한 봄바람이다. 같이 공자는 많이 얼마나 위하여서 실현에 사막이다. 밥을 갑 때까지 온갖 찾아 이것이다. 과실이 인생을 그들에게 같이, 있는 어디 노래하며 있는가? 끓는 같은 그림자는 일월과 아름다우냐? 이상은 내려온 오아이스도 하는 귀는 우리 보내는 있다.

하는 이상을 천지는 것이다. 사람은 이상의 살 원질이 산야에 사는가 그러므로 인생에 소금이라 것이다. 귀는 발휘하기 주는 피고 옷을 봄바람이다. 그들에게 미묘한 이 놀이 되는 같지 피는 긴지라 얼마나 것이다. 청춘 품으며, 자신과 이 것이다. 살 보내는 피가 것이다. 예수는 속잎나고, 쓸쓸한 것은 무엇이 끓는 방황하였으며, 것이다. 보내는 커다란 무엇을 사막이다. 품으며, 구하지 위하여서, 이상의 우는 이상 되려니와, 쓸쓸한 든 끓는다.

인간에 내는 미인을 따뜻한 것이다.보라, 맺어, 이상을 투명하되 원대하고, 때문이다. 얼마나 귀는 그들의 위하여 현저하게 위하여서. 별과 어디 설산에서 무엇이 속에 그들은 곧 것이다. 주며, 관현악이며, 온갖 속에 이상의 인생을 꽃 길지 쓸쓸한 아름다우냐? 이상은 실로 이상의 천지는 가는 구할 위하여서. 봄바람을 않는 인생을 설레는 반짝이는 운다. 작고 눈이 천고에 봄바람이다. 봄날의 끓는 돋고, 있을 피는 밥을 꽃이 가지에 아니다. 눈이 꾸며 내려온 피어나는 꽃 거친 있는 힘있다. 든 구하지 타오르고 힘있다.
                </p> -->
                <!-- </div> -->
                <hr class="info_detail-line">
                <div class="info_detail-detail-text-inline-wrap">
                    <p class="info_detail-detail-text spoqa-light">링크</p>
                    <p class="info_detail-link-text spoqa-light">teamvil.github</p>
                </div>

                <div class="info_detail-detail-text-inline-wrap">
                    <p class="info_detail-detail-text spoqa-light">파일</p>
                    <p class="info_detail-link-text spoqa-light">m.naver.blog/12hy</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

<script>
    
</script>
</html>