.team_detail-container {
    margin: 0 118.6875px;
    /* display: inline-grid; */
    /* grid-template-columns: repeat(auto-fit); */
}


.team_detail-name {
    margin: 10.28625px 0 19.78125px;
    display: grid;
    justify-content: center;
    width: 100%;
    height: 504.02625px;
    left: 150px;
    top: 75px;
    align-items: center;
    text-align: center;
    background-image: url(../image/cloud.jpg);
    background-size: 1345.625px 504.020625px;
}

header {
    text-align: center;
    width: 536.4675px;
    padding: 27.69375px;
    background-color: rgba(255, 255, 255, 0.8);
}


.team_detail-title {
    padding: 10px 0;
    font-size: 25.32px;
    font-weight: bold;
}

#team_detail-type {
    padding: 10px;
    width: 90px;
    height: 23px;
    left: 865px;
    top: 402px;
}

#team_detail-field1 {
    padding: 10px;
    width: 90px;
    height: 23px;
    left: 865px;
    top: 402px;
}

.team_detail-leader {
    margin-top: 17.4075px;
    text-align: right;
}

.team_detail-info {
    height: 185.94375px;
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
}

.team_detail-info p {
    font-weight: 600;
}

.team_detail-desc {
    padding: 50px 0;
}

.team_detail-desc p {
    font-size: 19.78125px;
}

.team_detail-desc p{
    font-size: 20px;
}

.team_detail-content-container {
    display: flex;
    border-top: 0;
    border-bottom: 1px #ebebeb solid;
    border-right: 0px;
    border-left: 0px;
}

.team_detail-content {
    display: inline-grid;
    width: 871.16625px;
     
}

.team_detail-content-title {
    margin-top: 30.0675px;
    margin-bottom: 18.19875px;
    font-size: 18.99px;
    font-weight: bold;
}

.team_detail-content-body {
    border-top: 0;
    border-bottom: 0;
    border-right: 1px #ebebeb solid ;
    border-left: 0;
    padding-right:23.7375px;
    margin-bottom: 59.34375px;
}

.team_detail-info-detail {
    display: inline-grid;
    width: 365.5575px;
    margin-left: 40.35375px;
}

.team_detail-apply {
    width: 72.795px;
    height: 24.52875px;
    border: 1px solid #0f59ff;
    padding: 5px 13px;
    color: #0f59ff;  
    font-size: 10px;
    background-color: #ffffff;
    margin-left: auto;
}

.team_detail-apply:hover {
    background-color: #0f59ff;
    color: #ffffff; 
    cursor: pointer; 
}

.team_detail-info-detail-title {
    font-size: 19px;
    font-weight: bold;
    padding: 9px 0;
}

.team_detail-info-detail-body {
    font-size: 15px;
    padding: 2px 0;
}

.team_detail-info-detail-title-margin {
    margin-bottom: 43.5px;
}

.team_detail-info-detail-content {
    margin-bottom: 15px;
}

.team_detail-info-etc {
    margin: 30px 0 45px;
}

.team_detail-info-etc p {
    padding: 12px 0;
}

.team_detail-info-etc-title {
    display: inline-block;
    width: 83px;
    font-size: 19px;
    font-weight: bold;
    padding-right: 10px;
}

.team_detail-info-etc-body {
    margin-left: 100px;
}

.team_detail-info-etc-body1 {
    margin-left: 100px;
    color: #ff0000;
}


