<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamvil</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/team_search.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <section class="team_search-category-container margin">

    </section>

    <section class="member_search-rec-box margin margin">
        <p class="member_search-rec-title spoqa-regular">recommended project</p>

        <div class="member_search-rec-container">
            <img class="member_search-chevron-left" src="{% static 'image/chevron-left.png' %}" alt="">

            {% for reg in projects_reg %}
            <div class="member_search-rec-member">
                <img class="member_search-rec-image" src="{% static 'image/cloud.jpg' %}">

                <div class="member_search-rec-info">
                    <p class="member_search-rec-info-name spoqa-regular">{{reg.title}}</p>
                    <p class="spoqa-light">분야 : {{reg.field1_id.field1}}</p>
                    <p class="spoqa-light">기간: {{reg.start_date|date:"Y-m-d"}} ~ {{reg.end_date|date:"Y-m-d"}}</p>
                    <p class="spoqa-light">지역: {{reg.region1_id.region1}} {{reg.region2_id.region2}}</p>
                </div>
            </div>
            {% endfor %}

            <img class="member_search-chevron-right" src="{% static 'image/chevron-right.png' %}" alt="">
        </div>
    </section>

    <section class="team_search-main-container margin">
        <aside class="team_search-filter-container">
            <div class="team_search-filter-item-container">
                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">분야</p>
                    <div value="field1" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="active" id="field1">
                    {% for field1 in field1s %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{field1.id}}' class="field1">
                            <span>{{field1.field1}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">성향</p>
                    <div value="mbti" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>
        
                <div class="hidden" id="mbti">
                    {% for mbti in mbtis %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{mbti.id}}' class="mbti">
                            <span>{{mbti.mbti}}</span>
                        </div>
                    {% endfor %}
                </div>
                
                <hr>

                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">지역</p>
                    <div value="region" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="region">
                    {% for region2 in region2s %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{region2.id}}' class="region2">
                            <span>{{region2.region1_id.region1}} {{region2.region2}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">기간</p>
                    <div value="term" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="term">
                    {% for term in terms %}
                        <div class="team_search-filter-item-list spoqa-light">
                            <input type="checkbox" value='{{term.id}}' class="term">
                            <span>{{term.term}}</span>
                        </div>
                    {% endfor %}
                </div>

                <hr>
        
                <div class="team_search-filter-active">
                    <p class="team_search-filter-title spoqa-medium">모집 상태</p>
                    <div value="state" class="drop_btn">
                        <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                    </div>
                </div>

                <div class="hidden" id="state">
                    <div class="team_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='1' class="state">
                        <span>모집중</span>
                    </div>

                    <div class="team_search-filter-item-list spoqa-light">
                        <input type="checkbox" value='0' class="state">
                        <span>모집완료</span>
                    </div>
                </div>
            </div>

            <a class="a-search" href="{% url 'member_search' %}">
                <button class="search spoqa-medium">검색</button>
            </a>
        </aside>

        <main class="team_search-team-container">
            {% for project in projects %}
                <a href="{% url 'team_detail' project.id %}">
                    <article class="team_search-team-item">
                        <img class="team_search-team-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <div class="team_search-team-item-text">
                            <p class="team_search-team-item-title spoqa-medium">{{project.title}}</p>
                            <p class="team_search-team-item-content spoqa-regular">분야 : {{project.field1_id.field1}}</p>
                            <p class="team_search-team-item-content spoqa-regular">기간 : {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}</p>
                            <p class="team_search-team-item-content spoqa-regular">모집인원 : {{project.mem_now}} / {{project.mem_duty}}
                                {% if project.state == 1%}
                                    (모집중)
                                {% else %}
                                    (모집완료)
                                {% endif %}
                            </p>
                            <p class="team_search-team-item-content spoqa-regular">지역 : {{project.region1_id.region1}} {{project.region2_id.region2}}</p>
                        </div>
                        
                    </article>
                </a>
            {% endfor %}
            {% for project in projects %}
                <a href="{% url 'team_detail' project.id %}">
                    <article class="team_search-team-item">
                        <img class="team_search-team-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <div class="team_search-team-item-text">
                            <p class="team_search-team-item-title spoqa-medium">{{project.title}}</p>
                            <p class="team_search-team-item-content spoqa-regular">분야 : {{project.field1_id.field1}}</p>
                            <p class="team_search-team-item-content spoqa-regular">기간 : {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}</p>
                            <p class="team_search-team-item-content spoqa-regular">모집인원 : {{project.mem_now}} / {{project.mem_duty}}
                                {% if project.state == 1%}
                                    (모집중)
                                {% else %}
                                    (모집완료)
                                {% endif %}
                            </p>
                            <p class="team_search-team-item-content spoqa-regular">지역 : {{project.region1_id.region1}} {{project.region2_id.region2}}</p>
                        </div>
                        
                    </article>
                </a>
            {% endfor %}
        </main>
    </section>

    {% include 'footer.html' %}
</body>

<script>
    $(document).ready(function(){
        $(".drop_btn").on("click", function(){ 
            var className = $(this).attr("value");
            console.log(className);

            let currentClass = document.getElementById(className);
            
            if ($(currentClass).is('.hidden')){
                $(currentClass).removeClass('hidden');
                $(currentClass).addClass('active');
                console.log("123");
            } else{
                $(currentClass).removeClass('active');
                $(currentClass).addClass('hidden');
                console.log("456");
            }
        }); 
    });
    // function drop(){
    //     let className = $(this).val();
    //     console.log(className);
    //     let currentClass = document.getElementById(className);
    //     if(currentClass.style.display === "none"){
    //         currentClass.style.display = "block";


    //     } else{
    //         currentClass.style.display = "none";
    //     }
    // }
</script>
</html>