*{
    box-sizing: border-box;
}
.mypage-flex-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.mypage-fix-width-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 마이페이지 좌측 메뉴 영역 */
.mypage-menu-wrap-container{
    display: flex;
    justify-content: center;
    width: 20vw;
    min-width: 250px;
    border-right: 1px solid #EBEBEB;
}
.mypage-menu-container{
    width: 15vw;
    min-width: 190px;
}
.mypage-menu-item{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEB;
}
.active-menu{
    color: #0F59FF;
}
.mypage-menu-item-text{
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    padding: 15px 0;
}

/* 마이페이지 우측 영역 (공통) */
.mypage-info-wrap-container{
    width: 60vw;
    min-width: 800px;
}

/* 마이페이지 우측 영역 (프로필) */
.mypage-info-item-wrap-container{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 70px;
}
.mypage-profile-row-item-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.mypage-profile-box-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 280px;
    height: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mypage-profile-left-box-item{
    border: 1px solid #ebebeb;
}
.mypage-profile-img {
    width: 156.6675px;
    height: 151.92px;
    margin: 55px auto;
}
.mypage-profile-line { 
    width: 70%;
    border: 1px solid #EBEBEB;
    margin: 0 auto;
}

.mypage-profile-info-name-text {
    text-align: center;
    font-size: 20px;
    padding: 18px 0;
}

.mypage-profile-info-wrap {
    padding-bottom: 16px;
}

.mypage-profile-info-title-text{
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 15px;
}
.mypage-profile-info-content-text{
    display: inline-block;
    font-size: 14px;
}

.mypage-profile-right-box-item {
    border: 1px solid #0F4C81;
    background-color: #0F4C81;
}

.mypage-profile-right-box-item-wrap {
    padding: 55px 0;
}

.text-color-white{
    color: #fff;
}
.line-margin{
    margin-bottom: 25px;
}
.mypage-profile-mbti-detail-box{
    width: 180px;
    margin: 0 auto;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: justify;
}
.mypage-profile-detail-info-wrap{
    padding-top: 50px;
    width: 100%;
}
.mypage-profile-detail-info-title-text{
    font-size: 18px;
    margin: 10px 0;
}
.mypage-profile-detail-info-content-text{
    margin: 0 15px;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}
.mypage-profile-column-item-container{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.mypage-profile-detail-info-content2-text{
    margin: 0 15px;
    font-size: 15px;
    line-height: 50px;
}

/* 마이페이지 우측 영역 (프로젝트) */
.mypage-dropdown-item-wrap-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.mypage-dropdown-item-wrap{
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    min-width: 660px;
    max-width: 700px;
}
.mypage-project-select-state-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #1b1b1b;
    border-radius: 1px;
    padding: 0 10px;
}
.mypage-project-select-state-button p {
    font-size: 13px;
}
.mypage-project-select-state-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #1b1b1b;
    border-top: none;
    padding: 0 10px;
    padding-top: 10px;
    width: 100px;
    background-color: #ffffff;
}
.mypage-project-select-state-list a {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}
.float {
    position: absolute;
}
.mypage-project-item-wrap-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50vw;
    min-width: 660px;
    max-width: 700px;
}
.mypage-project-team-item {
    width: 324.985px;
    height: 371.8875px;
    border: 1px solid #D7D7D7;
    border-radius: 1px;
    margin-bottom: 60px;
}
.mypage-project-team-image {
    width: 324.985px;
    height: 212.055px;
    border-radius: 1px;
}
.mypage-project-team-item-text {
    padding: 10px 20px;
    line-height: 25px;
}
.mypage-project-team-item-title {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}
.mypage-project-team-item-content {
    font-size: 12px;
}

/* 마이페이지 우측 영역 (프로필 수정하기) */
.mypage-profile-modify-item-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 800px;
}
.mypage-profile-modify-element-wrap{
    width: 100%;
    display: flex;
}
.mypage-modify-title-text{
    font-size: 16px;
    padding: 20px 0;
    margin-left: 30px;
    width: 10vw;
    min-width: 100px;
    max-width: 145px;
}
.mypage-modify-unmodifiable-text{
    font-size: 13px;
    padding-top: 20px;
    width: 100%;
    padding-left: 10px;
}
.mypage-modify-dropdown-item-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.mypage-modify-select-state-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    padding: 0 10px;
}
.mypage-modify-select-state-button p {
    font-size: 13px;
}
.mypage-modify-select-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    border-top: none;
    padding: 0 10px;
    padding-top: 10px;
    background-color: #ffffff;
}
.mypage-modify-select-list a {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}
.mypage-modify-triangle{
    width: 15px;
}
.col_10{
    width: 100px;
}
.col_12{
    width: 120px;
}
.col_15{
    width: 150px;
}
.col_17{
    width: 170px;
}
.col_60{
    width: 600px;
}
.mypage-modify-input-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mypage-modify-input{
    height: 30px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    padding: 0 10px;
}
/* switch start */
.toggle {
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
       
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}
/* switch-end */
.mypage-modify-row-wrap{
    display: flex;
}
