{% load static %}

<footer class="spoqa-light">
    <div class="footer-link">
        <a href="">이용약관</a>
        <p>|</p>
        <a href="">개인정보취급방침</a>
        <p>|</p>
        <a href="">환불규정</a>
        <p>|</p>
        <a href="">고객센터</a>
    </div>

    <div class="footer-info">
        <p>Address : 경기도 고양시 덕양구 항공대학로 76 한국항공대학교</p>
        <p>Address : 경기도 고양시 덕양구 항공대학로 76 한국항공대학교</p>
        <p>E-mail : teamvil@likelion.org</p>
        <p>Instagram : @teamvil</p>
    </div>

    <div class="footer-copyright">
        <p>Copyright ⓒ 2021 MICKS All Rights Reserved.</p>
    </div>   
</footer>