<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h4>질문:<input type="text" name="content" placeholder="ex)팀원은 잘놀아야해 무조건"></h4> 
            <input type="number" max="5" name="choice_cnt" placeholder="질문개수를 선택하세요.">
            <br>
            <input type="text" name="choice1" placeholder="1.민희">
            <br>
            <input type="text" name="choice2" placeholder="2.건영">
            <br>
            <input type="text" name="choice3" placeholder="3.자운">
            <br>
            <input type="text" name="choice4" placeholder="4.유림">
            <br>
            <input type="text" name="choice5" placeholder="5.혜인">
            