{% load static %}
{% load custom_tags %}
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
{% if not projects and not not_like_projects%} 
    <h1>검색 결과가 없습니다</h1>
{% else %} 
    {% for project in projects %}
        <a href="{% url 'team_detail' project.id %}">
            <article class="team_search-team-item">
                <img class="team_search-team-image" src="{% static 'image/cloud.jpg' %}" alt="">

                <div class="team_search-team-item-container">
                    <div class="team_search-team-item-text">
                        <p class="team_search-team-item-title spoqa-medium">{{project.title}}</p>
                        <p class="team_search-team-item-content spoqa-regular">분야 : {{project.field1_id.field1}}</p>
                        <p class="team_search-team-item-content spoqa-regular">기간 : {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}</p>
                        <p class="team_search-team-item-content spoqa-regular">모집인원 : {{project.mem_now}} / {{project.mem_duty}}
                            {% if project.state == 1%}
                                (모집중)
                            {% else %}
                                (모집완료)
                            {% endif %}
                        </p>
                        <p class="team_search-team-item-content spoqa-regular">지역 : {{project.region1_id.region1}} {{project.region2_id.region2}}</p>
                    </div>

                    <div class="team_search-like-scrap-container spoqa-light">
                        <a class="team_search-like-scrap-item">
                            <img class="like-scrap like {% active_like 0 project.id user.id %}" src="{% static 'image/like-btn-2.png' %}" value="{{project.id}}">
                            <p>{% get_like_cnt 0 project.id %}</p>
                        </a>

                        <a class="team_search-like-scrap-item">
                            <img class="like-scrap scrap {% active_scrap 0 project.id user.id %}" src="{% static 'image/scrap-btn-2.png' %}" value="{{project.id}}">
                            <p>{% get_scrap_cnt 0 project.id %}</p>
                        </a>
                    </div>
                </div>
            </article>
        </a>
    {% endfor %}
    
    {% for project in not_like_projects %}
        <a href="{% url 'team_detail' project.id %}">
            <article class="team_search-team-item">
                <img class="team_search-team-image" src="{% static 'image/cloud.jpg' %}" alt="">

                <div class="team_search-team-item-container">
                    <div class="team_search-team-item-text">
                        <p class="team_search-team-item-title spoqa-medium">{{project.title}}</p>
                        <p class="team_search-team-item-content spoqa-regular">분야 : {{project.field1_id.field1}}</p>
                        <p class="team_search-team-item-content spoqa-regular">기간 : {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}</p>
                        <p class="team_search-team-item-content spoqa-regular">모집인원 : {{project.mem_now}} / {{project.mem_duty}}
                            {% if project.state == 1%}
                                (모집중)
                            {% else %}
                                (모집완료)
                            {% endif %}
                        </p>
                        <p class="team_search-team-item-content spoqa-regular">지역 : {{project.region1_id.region1}} {{project.region2_id.region2}}</p>
                    </div>

                    <div class="team_search-like-scrap-container spoqa-light">
                        <a class="team_search-like-scrap-item">
                            <img class="like-scrap like {% active_like 0 project.id user.id %}" src="{% static 'image/like-btn-2.png' %}" value="{{project.id}}">
                            <p>{% get_like_cnt 0 project.id %}</p>
                        </a>

                        <a class="team_search-like-scrap-item">
                            <img class="like-scrap scrap {% active_scrap 0 project.id user.id %}" src="{% static 'image/scrap-btn-2.png' %}" value="{{project.id}}">
                            <p>{% get_scrap_cnt 0 project.id %}</p>
                        </a>
                    </div>
                </div>
            </article>
        </a>
    {% endfor %}
{% endif %}

<script>
    // 좋아요 활성화
    $(".like").on("click", function(){ 
        project_id = $(this).attr('value'); 
        var like = {
            'value': project_id
        }
        var url = '';
        if($(this).hasClass('active')){
            $(this).removeClass('active');
            url = "{% url 'likecancel' %}"
            $(this).next().text(parseInt($(this).next().text())-1);
        }else{
            $(this).addClass('active');
            url = "{% url 'like' %}"
            $(this).next().text(parseInt($(this).next().text())+1);
        }
        $.ajax({
            type:"POST",
            headers:{
                'X-CSRFToken' : '{{csrf_token}}'
            },
            url: url,
            data :JSON.stringify(like),
            success: function(res) {
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                alert("로그인하세요.");
                
            }
        }); 
    });
        
    // 스크랩
    $(".scrap").on("click", function(){ 
        project_id = $(this).attr('value'); 
        var like = {
            'value': project_id
        }
        var url = '';
        if($(this).hasClass('active')){
            $(this).removeClass('active');
            url = "{% url 'scrapcancel' %}"
            $(this).next().text(parseInt($(this).next().text())-1);
        }else{
            $(this).addClass('active');
            url = "{% url 'scrap' %}"
            $(this).next().text(parseInt($(this).next().text())+1);
        }
        $.ajax({
            type:"POST",
            headers:{
                'X-CSRFToken' : '{{csrf_token}}'
            },
            url: url,
            data :JSON.stringify(like),
            success: function(res) {
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                alert("로그인하세요.");
            }
        }); 
    });
</script>