<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load custom_tags %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/team_detail.css' %}">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="team_detail-container">
            {% if project.photo.url is not None %}
            <div class="team_detail-name" style="background-image: url('{{project.photo.url}}')">
            {% else %}
            <div class="team_detail-name" style="background-color: #ebebeb;">
            {% endif %}
                <header>
                    <h1 class="team_detail-title">{{project.title}}</h1>

                    <span id="team_detail-type">
                        {% if project.type == 0 %}
                        창업<span class="team_detail-type-bar">|</span>{{project.field1_id.field1}}
                        {% elif project.type == 1 %}
                        공모전<span class="team_detail-type-bar">|</span>{{project.field1_id.field1}}
                        {% else %}
                        프로젝트<span class="team_detail-type-bar">|</span>{{project.field1_id.field1}}
                        {% endif %}
                    </span>

                    <div class="team_detail-like-scrap-container spoqa-light">
                        <a class="team_detail-like-scrap-item">
                            {% if user.is_authenticated %}
                                <img class="like-scrap like {% active_like 0 project.id user.id %}" src="{% static 'image/like-btn-2.png' %}" value="{{project.id}}">
                            {% else %}
                                <img class="like-scrap like" src="{% static 'image/like-btn-2.png' %}" value="{{project.id}}">
                            {% endif %}
                            <p>{% get_like_cnt 0 project.id %}</p>
                        </a>

                        <a class="team_detail-like-scrap-item">
                            {% if user.is_authenticated %}
                                <img class="like-scrap scrap {% active_scrap 0 project.id user.id %}" src="{% static 'image/scrap-btn-2.png' %}" value="{{project.id}}">
                            {% else %}
                                <img class="like-scrap scrap" src="{% static 'image/scrap-btn-2.png' %}" value="{{project.id}}">
                            {% endif %}
                            <p>{% get_scrap_cnt 0 project.id %}</p>
                        </a>
                    </div>

                    <p class="team_detail-leader">by {{profile.name}}</p>
                </header>
            </div>

            <div class="team_detail-info">
                <div class="team_detail-desc">
                    <p>{{project.desc}}</p>
                </div>
                <p class="team_detail-info-head">
                    {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}
                    <span>|</span>
                    {{ project.region2_id }}
                    <span>|</span>
                    {% if project.state == 0 %}
                        모집완료
                    {% else %}
                        모집 중
                    {% endif %}
                </p>
            </div>
            <div class="team_detail-content-container">
                <div class="team_detail-content">
                    <p class="team_detail-content-title">소개<p>
                    <p class="team_detail-content-body">{{project.content}}</p>
                </div>
                <hr>
                <div class="team_detail-info-detail">


                    <div class="team_detail-info-detail-button-container">
                        <span class="team_detail-info-detail-title">전체 팀 인원</span>
                        <div>
                            {% if user == project.user_id %}
                            <a class="team_detail-apply-button" href="">
                                <button type="button" class="team_detail-apply">수정하기</button>
                            </a>
                            {% else %}
                                {% if user.is_authenticated %}
                                    <a class="team_detail-apply-button" href="{% url 'team_apply'  project.id %}">
                                        <button type="button" class="team_detail-apply">지원하기</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>


                    <p class="team_detail-info-detail-body team_detail-info-detail-title-margin">
                        {{project.mem_total}}명 중 {{project.mem_now}}명 모집 완료
                    </p>
                    <p class="team_detail-info-detail-title">
                    모집 중인 직무 및 인원
                    </p>
                    <p class="team_detail-info-detail-body team_detail-info-detail-title-margin">
                        {% for duty in duties %}
                        {{duty.name}} | {{duty.now}} / {{duty.total}} 
                        <br>
                        {% endfor %}
                    </p>
                    <p class="team_detail-info-detail-title">직무 설명</p>
                    {% for duty in duties %}
                        <p class="team_detail-info-detail-body">
                            {{duty.name}}
                        </p>

                        <p class="team_detail-info-detail-content"> 
                            {{duty.desc}}
                        </p>
                    {% endfor %}
                </div>
            </div>
            
            <div class="team_detail-info-etc">
                <p>
                    <span class="team_detail-info-etc-title">학교</span>
                    <span class="team_detail-info-etc-body">
                        {% if project.school != None %}
                            {{project.school}}
                        {% else %}
                            학교제한 없음
                        {% endif %}
                    </span>
                    {% if project.school != None %}
                        <span class="team_detail-info-etc-body1">교내프로젝트</span>
                    {% endif %}
                </p>
                <p>
                    <span class="team_detail-info-etc-title">학력 제한</span>
                    <span class="team_detail-info-etc-body">
                        {% if project.education_id != null %}
                            {{project.education_id.education}}
                        {% else %}
                            학력제한 없음
                        {% endif %}
                    </span>
                </p>
                <p>
                    <span class="team_detail-info-etc-title">링크</span>
                    <span class="team_detail-info-etc-body">
                        {% if project.isLink %}
                            {% for project_link in project_links %}
                                <a href="https://{{project_link}}">{{project_link}}</a>
                            {% endfor %}
                        {% else %}
                            링크 없음
                        {% endif %}
                    </span>
                </p>
                <p>
                    <span class="team_detail-info-etc-title">파일</span>
                    <span class="team_detail-info-etc-body">
                        {% if project.isFile %}
                            {% for project_file in project_files %}
                                <a href="{{project_file}}">{{project_file}}</a>
                            {% endfor %}
                        {% else %}
                            파일 없음
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
        {% include 'footer.html' %}        
    </body>
    <script>
        // 좋아요 활성화
        $(".like").on("click", function(){ 
            console.log(124)
            project_id = $(this).attr('value'); 
            var like = {
                'value': project_id
            }
            var url = '';
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                url = "{% url 'likecancel' %}"
                $(this).next().text(parseInt($(this).next().text())-1);
            }else{
                $(this).addClass('active');
                url = "{% url 'like' %}"
                $(this).next().text(parseInt($(this).next().text())+1);
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: url,
                data :JSON.stringify(like),
                success: function(res) {
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });
        
        // 스크랩
        $(".scrap").on("click", function(){ 
            project_id = $(this).attr('value'); 
            var like = {
                'value': project_id
            }
            var url = '';
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                url = "{% url 'scrapcancel' %}"
                $(this).next().text(parseInt($(this).next().text())-1);
            }else{
                $(this).addClass('active');
                url = "{% url 'scrap' %}"
                $(this).next().text(parseInt($(this).next().text())+1);
            }
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url: url,
                data :JSON.stringify(like),
                success: function(res) {
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                }
            }); 
        });

    </script>
</html>
