<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class='container'>
            <form action="{% url 'team_create_back' %}" method="GET">
                <h4>프로젝트 종류</h4>
                <input type="button" name="type" value="S스타트업">
                <h4>팀이름: </h4>
                <input type="text" name="title">
                <br>
                <br>
                <h4>설명: </h4>
                <textarea name="body" cols="100" rows="10"></textarea>
                <br>
                <br>
                <input type="submit" value="등록하기">
            </form>
        </div>
    </body>
</html>