<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teamvil</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    
    <body>
        <div class='container'>
            
            <h4>프로젝트 종류</h4>
                <button type="button" name="type" onClick="location.href='../team_new_back_S'">S 스타트업</button>
                <button type="button" name="type" onClick="location.href='../team_new_back_C'">C 공모전/대외활동</button>
                <button type="button" name="type" onClick="location.href='../team_new_back_P'">P 기타 프로젝트</button>
            
            <form action="{% url 'team_create_back_S' %}" method="POST" enctype ="multipart/form-data">
                {% csrf_token %}
                <h4>프로젝트 명 S</h4>
                    <input type="text" name="title" placeholder="ex)팀원 모집 플랫폼 팀빌">
                    <br>
                    <br>
                
                <h4>프로젝트 목적&의지</h4>
                    <textarea name="desc" cols="100" rows="3" placeholder="ex)환경보호를 위한 공유 서비스를 만들고자 시작한 프로젝트 입니다."></textarea>
                    <br>
                    <br>
                
                <h4>분야</h4>
                    {% for field1 in field1s %}
                    <input type="radio" name="field1" value="{{ field1.id }}">{{ field1.field1 }}
                    {% endfor %}
                    <br>
                    <br>

                <h4>세부분야</h4>
                    <input type="text" name="field2" placeholder="ex)웹페이지 개발">
                    <br>
                    <br>
                <h4>지역</h4>
                <select id = "region1" onchange="categoryChange()" name="region1" required>
                    {% for region1 in region1s %}
                        <option value="{{region1.id}}" class = "{{region1}}">{{region1.region1}}</option>
                    {% endfor %}
                </select>
                
                <select id="region2" name="region2" required>
                    {% for region_1,region_2 in region1_list %}
                        {% if region_1 == '서울시' %}
                            {% for region in region_2 %}  
                                <option value="{{region.region2}}" class = "{{region.region2}}">{{region.region2}}</option>
                            {% endfor %}                     
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <br> 
                <script>
                    function categoryChange(){
                        var category = $('select[name=region1] option:selected').val(); //숫자 순서대로 selected는 자동으로 됨
                        var region1 = $('select[name=region1] option:selected').text();
                        $("#region2").empty();
                        var dict = {{region_list|safe}} //DICT형식 풀어주는 코드
                        str = ""; //빈문자열
                        for(const [key, value] of Object.entries(dict)){
                            if(key == region1){
                                console.log(value)
                                for(v in value){
                                    str += `<option value="${value[v][0]}" class = "${value[v][1]}">${value[v][1]}</option>` 
                                }
                            }
                        }
                        $("#region2").append(str);
                    }
                </script>

                <h4>전체 팀 인원</h4>
                    <input type="number" min="0" name="mem_total" placeholder="전체 팀 인원">
                    <br>
                    <br>
        
                <h4>현재 팀 인원</h4>
                    <input type="number" min="0" name="mem_now" placeholder="현재 팀 인원">    
                    <br>
                    <br>
                
                
                <input type="text" name="duty_name" placeholder="ex)프론트">
                <input type="number" name="total" min="0" placeholder="직무 total">  
                <h4>직무소개 및 구하는 직무의 이상팀원?</h4>
                    <textarea name="duty_desc" cols="100" rows="3"></textarea>
                    <br>
                    <br>

                <h4>대표사진</h4>
                    <!-- 프로젝트 모델에 photo없어서 넣어줘야됨 -->
                    <br>
                    <br>

                <h4>프로젝트 소개</h4>
                    <textarea name="content" cols="100" rows="10" placeholder="자유롭게 프로젝트를 소개해주세요!"></textarea>
                    <br>
                    <br>

                <h4>프로젝트 기간</h4>
                    <input type='date' name="start_date"> ~ <input type='date' name="end_date">
                    <br>
                    <br>

                <h4>(선택)학교</h4>
                    <!-- 학교 DB 만들어 받아와주기 필요. 보류 -->
                    <select class="schooltype" name="school" onchange="changeType()">
                        <option value="중학교" class="mid" selected>중학교</option>
                        <option value="고등학교" class="high">고등학교</option>
                        <option value="대학교" class="univ">대학교</option>
                    </select>
                    <input class="word" name="school" placeholder="검색어를 입력하세요." onkeyup="search(this);">
                    <ul type="list" class="schoollist"></ul>
                <br>
                <br>

                <h4>(선택)학력제한</h4>
                <select name="education">
                    <option value="0">선택안함</option>
                    {% for education in educations %}
                    <option value="{{ education.id }}">{{ education.education }}</option>
                    {% endfor %} 
                </select>
                <br>
                <br>

                <h4>(선택)링크</h4>
                <input type="text" name="project_link">
                <br>
                <br>

                <h4>(선택)파일</h4>
                <input type="file" name="project_file" multiple>
                <br>
                <br>
                <br>
                <input type="submit" value="등록하기">

            </form>
        </div>
    </body>
    <script>
        function addSchool(name){
            $('.word').val(name);
            $(".schoollist").empty();
        }
        var url = "//www.career.go.kr/cnet/openapi/getOpenApi.json?apiKey=d0c42cdd7e8461cfb295b56acc8bdc54&svcType=api&svcCode=SCHOOL&contentType=json&gubun=midd_list&searchSchulNm=";
        function changeType(){
            type = $('.schooltype option:selected').val();
            if(type =="고등학교") url = "//www.career.go.kr/cnet/openapi/getOpenApi.json?apiKey=d0c42cdd7e8461cfb295b56acc8bdc54&svcType=api&svcCode=SCHOOL&contentType=json&gubun=high_list&searchSchulNm=";
            if(type =="대학교") url = "//www.career.go.kr/cnet/openapi/getOpenApi.json?apiKey=d0c42cdd7e8461cfb295b56acc8bdc54&svcType=api&svcCode=SCHOOL&contentType=json&gubun=univ_list&searchSchulNm=";
            $('.word').val('');
            $(".schoollist").empty();
        }
        function search(target){
            var word = target.value;
            var encodeWord = encodeURI(word);
            $(".schoollist").empty();
            $.ajax({
                type:"GET",
                dataType:"json",
                url: url+word,
                success: function(res){
                    var completeWord = $(".word").val();
                    if(completeWord.length>0 && res.dataSearch.content.length>0){
                        for(i=0; i<res.dataSearch.content.length; i++){
                            $(".schoollist").append( 
                            "<div onclick=addSchool('"+res.dataSearch.content[i].schoolName+"')><li class='schlist' value='" + res.dataSearch.content[i].schoolName + "'>" + res.dataSearch.content[i].schoolName + "</li></div>");
                        } 
                    }else{
                        $(".schoollist").append("<li class='schlist'>검색결과가 없습니다.</li>");
                    }
                },
                error: function(err){
                    console.log("실행중 오류가 발생하였습니다.");
                }
            })
            // //고등학교
            // $.ajax({
            //     type:"GET",
            //     dataType:"json",
            //     url: "//www.career.go.kr/cnet/openapi/getOpenApi.json?apiKey=d0c42cdd7e8461cfb295b56acc8bdc54&svcType=api&svcCode=SCHOOL&contentType=json&gubun=high_list&searchSchulNm="+word,
            //     success: function(res){
            //         var completeWord = $(".word").val();
            //         if(completeWord.length>0 && res.dataSearch.content.length>0){
            //             for(i=0; i<res.dataSearch.content.length; i++){
            //                 $(".schoollist").append( 
            //                 "<div onclick=addSchool('"+res.dataSearch.content[i].schoolName+"')><li class='schlist' value='" + res.dataSearch.content[i].schoolName + "'>" + res.dataSearch.content[i].schoolName + "</li></div>");
            //             } 
            //         }
            //     },
            //     error: function(err){
            //         console.log("실행중 오류가 발생하였습니다.");
            //     }
            // })
            // //대학교
            // $.ajax({
            //     type:"GET",
            //     dataType:"json",
            //     url: "//www.career.go.kr/cnet/openapi/getOpenApi.json?apiKey=d0c42cdd7e8461cfb295b56acc8bdc54&svcType=api&svcCode=SCHOOL&contentType=json&gubun=univ_list&searchSchulNm="+word,
            //     success: function(res){
            //         var completeWord = $(".word").val();
            //         if(completeWord.length>0 && res.dataSearch.content.length>0){
            //             for(i=0; i<res.dataSearch.content.length; i++){
            //                 $(".schoollist").append( 
            //                 "<div onclick=addSchool('"+res.dataSearch.content[i].schoolName+"')><li class='schlist' value='" + res.dataSearch.content[i].schoolName + "'>" + res.dataSearch.content[i].schoolName + "</li></div>");
            //             } 
            //         }
            //     },
            //     error: function(err){
            //         console.log("실행중 오류가 발생하였습니다.");
            //     }
            // })
        }
    </script>
</html>