<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/team_application.css' %}">
    </head>

    <body>
        
        {% include 'navbar.html' %}

        <div class="team_application-container">

            <div class="team_application-wrap">

                <div class="team_application-scroll type">
                    
                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                    <div class="team_application-member">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">

                        <p class="team_application-member-name-text">박민희</p>

                        <p class="team_application-state-text">읽음</p>
                    </div>

                </div>
                

                <div class="team_application-detail-container">
                    
                    <div class="team_application-member-info">
                        <img class="team_application-member-image" src="{% static 'image/cloud.jpg' %}" alt="">
                        <p class="team_application-member-name-text">박민희</p>
                    </div>
                    
                </div>


            </div>

        </div>


        
        {% include 'footer.html' %} 

    </body>

</html>