<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    
    <body>
       
        <div class='container'>
            
            <h4>프로젝트 종류</h4>
                <button type="button" name="type" onClick="location.href='../team_new_back_S'">S 스타트업</button>
                <button type="button" name="type" onClick="location.href='../team_new_back_C'">C 공모전/대외활동</button>
                <button type="button" name="type" onClick="location.href='../team_new_back_P'">P 기타 프로젝트</button>
            
            <form action="{% url 'team_create_back_S' %}" method="POST" enctype ="multipart/form-data">
                {% csrf_token %}
                <h4>프로젝트 명 S</h4>
                    <input type="text" name="title" placeholder="ex)팀원 모집 플랫폼 팀빌">
                    <br>
                    <br>
                
                <h4>프로젝트 목적&의지</h4>
                    <textarea name="desc" cols="100" rows="3" placeholder="ex)환경보호를 위한 공유 서비스를 만들고자 시작한 프로젝트 입니다."></textarea>
                    <br>
                    <br>
                
                <h4>분야</h4>
                    {% for field1 in field1s %}
                    <input type="radio" name="field1" value="{{ field1.id }}">{{ field1.field1 }}
                    {% endfor %}
                    <br>
                    <br>

                <h4>세부분야</h4>
                    <input type="text" name="field2" placeholder="ex)웹페이지 개발">
                    <br>
                    <br>

                <h4>지역</h4>
                    <select id = "region1" onchange="categoryChange(this)" name="region1" required>
                        {% for region1 in region1s %}
                        <option value="{{ region1.id }}">{{ region1.region1 }}</option>
                        {% endfor %}
                    </select>
                    
                    <select id="region2" name="region2" required>
                        {% for region2 in region2s %}
                        <option value="{{ region2.id }}" class = "{{ region2 }}">{{ region2.region2 }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br> 
                    <script>
                        function categoryChange(e) {
                            var sel = document.getElementById("region1");
                            var val = sel.options[sel.selectedIndex].text;
                            var c = document.getElementsByClassName(val);
                            for (var i = 0; i < c.length; i++) {
                                c[i].classList.hide()
                            }
                            // let region22 = "{{region2s}}";
                            // let target = document.getElementById("region2");
                            // console.log(region22.split(','));
                            // console.log(e);
                            // if(e.value == "a") var a = region2;
                            // else if(e.value == "a") var a = region2;
                            // else if(e.value == "a") var a = region2;
                        
                            // target.options.length = 0;
                        
                            // for (x in d) {
                            //     var opt = document.createElement("option");
                            //     opt.value = d[x];
                            //     opt.innerHTML = d[x];
                            //     target.appendChild(opt);
                            // }	
                        }
                    </script> 
                    
                    



                <h4>전체 팀 인원</h4>
                    <input type="number" min="0" name="mem_total" placeholder="전체 팀 인원">
                    <br>
                    <br>
        
                <h4>현재 팀 인원</h4>
                    <input type="number" min="0" name="mem_now" placeholder="현재 팀 인원">    
                    <br>
                    <br>
                
                
                <input type="text" name="duty_name" placeholder="ex)프론트">
                <input type="number" name="total" min="0" placeholder="직무 total">  
                <h4>직무소개 및 구하는 직무의 이상팀원?</h4>
                    <textarea name="duty_desc" cols="100" rows="3"></textarea>
                    <br>
                    <br>

                <h4>대표사진</h4>
                    <!-- 프로젝트 모델에 photo없어서 넣어줘야됨 -->
                    <br>
                    <br>

                <h4>프로젝트 소개</h4>
                    <textarea name="content" cols="100" rows="10" placeholder="자유롭게 프로젝트를 소개해주세요!"></textarea>
                    <br>
                    <br>

                <h4>프로젝트 기간</h4>
                    <input type='date' name="start_date"> ~ <input type='date' name="end_date">
                    <br>
                    <br>

                <h4>(선택)학교</h4>
                    <!-- 학교 DB 만들어 받아와주기 필요. 보류 -->
                    <p>dd</p>
                    <a href = "http://career.go.kr/cnet/openapi/getOpenApi?apiKey=d0c42cdd7e8461cfb295b56acc8bdc54&svcType=api&svcCode=SCHOOL&contentType=json&gubun=midd_list&searchSchulNm=정발">ddd</a>
                <br>
                <br>

                <h4>(선택)학력제한</h4>
                <select name="education">
                    <option value="0">선택안함</option>
                    {% for education in educations %}
                    <option value="{{ education.id }}">{{ education.education }}</option>
                    {% endfor %} 
                </select>
                <br>
                <br>

                <h4>(선택)링크</h4>
                <input type="text" name="project_link">
                <br>
                <br>

                <h4>(선택)파일</h4>
                <input type="file" name="project_file" multiple>
                <br>
                <br>
                <br>
                <input type="submit" value="등록하기">

            </form>
        </div>
    </body>
</html>