<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/team_review.css' %}">
    </head>

    <body>
        
        {% include 'navbar.html' %}

            <div class="team_review-container">
                <h1 class="team_review-title">{{project.title}}</h1>
                <p class="team_review-list">- 팀원 평가 -</p>
            </div>


            <form class="team_review-box-container" method="POST" action="{% url 'team_review_form' %}">
                    
                {% csrf_token %}
                    
                    <!-- {% if error %}
                        
                        <p class="team_review-error">{{error}}</p>
                
                    {% endif %} -->
                    <!-- <option value="{{ education.id }}">{{ education.education }}</option> -->
                    {% for member in members %}
                    <div>
                        {{ member.user_id}}
                    </div>
                    
                    <input class="team_review-box" name="team_review-content" type="text" placeholder="팀원평가">
                    {% endfor %}
                    
                    <div><input class="team_review-submit" type="submit" value="등록하기"></div> 
                       
            </form>
        
        {% include 'footer.html' %} 

    </body>

</html>