{% load static %}
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
{% if not projects %} 
    <h1>검색 결과가 없습니다</h1>
{% else %} 
    {% for project in projects %}
        <a href="{% url 'team_detail' project.id %}">
            <article class="team_search-team-item">
                <img class="team_search-team-image" src="{% static 'image/cloud.jpg' %}" alt="">

                <div class="team_search-team-item-text">
                    <p class="team_search-team-item-title spoqa-medium">{{project.title}}</p>
                    <p class="team_search-team-item-content spoqa-regular">분야 : {{project.field1_id.field1}}</p>
                    <p class="team_search-team-item-content spoqa-regular">기간 : {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}</p>
                    <p class="team_search-team-item-content spoqa-regular">모집인원 : {{project.mem_now}} / {{project.mem_duty}}
                        {% if project.state == 1%}
                            (모집중)
                        {% else %}
                            (모집완료)
                        {% endif %}
                    </p>
                    <p class="team_search-team-item-content spoqa-regular">지역 : {{project.region1_id.region1}} {{project.region2_id.region2}}</p>
                </div>
            </article>
        </a>
        <button class = "like_submit_delete hidden" value="{{project.id}}">좋아요</button>
        <button class = "like_submit" value="{{project.id}}">좋아요 전</button>  
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function(){
        //좋아요함수
        $('.like_submit').on("click", function(){ //좋아요 전을 누르면 ~
            var like = {
                'value': $(this).val()
            }
            console.log(like)
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url:"{% url 'like' %}",
                data :JSON.stringify(like),
                success: function(res) {
                        $('.like_submit_delete').removeClass('hidden'); //좋아요가 켜지고 like_submit_delete 
                        $('.like_submit').addClass('hidden'); //좋아요 전은 hidden 처리 된다. like_submit hidden
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });
        //좋아요 취소 함수 
        $('.like_submit_delete').on("click", function(){ //좋아요를 누르면 ~
            var like = {
                'value': $(this).val()
            }
            console.log(like)
            $.ajax({
                type:"POST",
                headers:{
                    'X-CSRFToken' : '{{csrf_token}}'
                },
                url:"{% url 'likecancel' %}",
                data :JSON.stringify(like),
                success: function(res) {
                        $('.like_submit').removeClass('hidden'); //좋아요 전이 켜지고
                        $('.like_submit_delete').addClass('hidden'); //좋아요는 hidden 처리 된다.
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    alert("로그인하세요.");
                    
                }
            }); 
        });
    }
</script>