<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/team_search.css' %}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <section class="margin">

    </section>

    <section class="margin">

    </section>

    <section class="team_search-main-container margin">
    <aside class="team_search-filter-container">
        <div class="team_search-filter-item-container">
            <div class="team_search-filter-active">
                <p class="team_search-filter-title spoca-medium">관심분야</p>
                <div value="field1" class="drop_btn">
                    <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
                </div>
            </div>

            <div id="field1">
                {% for field1 in field1s %}
                    <div class="team_search-filter-item-list">
                        <input type="checkbox" value='{{field1.id}}' class="field1">
                        <span>{{field1.field1}}</span>
                    </div>
                {% endfor %}
            </div>

            <hr>
        </div>

        <div id="mbti">
            <div class="team_search-filter-active">
                <p class="team_search-filter-title">관심분야</p>
                <img class="team_search-chevron" src="{% static 'image/chevron-down.png' %}">
            </div>

            {% for mbti in mbtis %}
                <div class="team_search-filter-item-list">
                    <input type="checkbox" value='{{mbti.id}}' class="mbti">
                    <span>{{mbti.mbti}}</span>
                </div>
            {% endfor %}
        </div>

        <hr>

        <div id="region">
        {% for region2 in region2s %}
            <div class="team_search-filter-item-list">
                <input type="checkbox" value='{{region2.id}}' class="region2">
                <span>{{region2.region1_id.region1}} {{region2.region2}}</span>
            </div>
        {% endfor %}
        </div>

        <hr>

        <div id="term">
        {% for term in terms %}
            <div class="team_search-filter-item-list">
                <input type="checkbox" value='{{term.id}}' class="term">
                <span>{{term.term}}</span>
            </div>
        {% endfor %}
        </div>

        <div id="state">
            <div class="team_search-filter-item-list">
                <input type="checkbox" value='1' class="state">
                <span>모집중</span>
            </div>

            <div class="team_search-filter-item-list">
                <input type="checkbox" value='0' class="state">
                <span>모집완료</span>
            </div>
        </div>

        <hr>

        <div id="job">
            {% for job in jobs %}
            <div class="team_search-filter-item-list">
                <input type="checkbox" value='{{job.id}}' class="job">
                <span>{{job.job}}</span>
            </div>
            {% endfor %}
        </div>
    </aside>

    <main class="team_search-team-container">
        {% for project in projects %}
            <article class="team_search-team-item">
                <img class="team_search-team-image" src="{% static 'image/cloud.jpg' %}" alt="">

                <div class="team_search-team-item-text">
                    <p class="team_search-team-item-title">{{project.title}}</p>
                    <p class="team_search-team-item-content">분야 : {{project.field1_id.field1}}</p>
                    <p class="team_search-team-item-content">기간 : {{project.start_date|date:"Y-m-d"}} ~ {{project.end_date|date:"Y-m-d"}}</p>
                    <p class="team_search-team-item-content">모집인원 : {{project.mem_now}} / {{project.mem_duty}}
                        {% if project.state == 1%}
                            (모집중)
                        {% else %}
                            (모집완료)
                        {% endif %}
                    </p>
                    <p class="team_search-team-item-content">지역 : {{project.region1_id.region1}} {{project.region2_id.region2}}</p>
                </div>
                
            </article>
        {% endfor %}
    </main>
    </section>
</body>

<script>
    $(document).ready(function(){
        $(".drop_btn").on("click", function(){ 
            var className = $(this).attr("value");
            console.log(className);

            let currentClass = document.getElementById(className);
            
            if(currentClass.style.display === "none"){
                currentClass.style.display = "block";


            } else{
                currentClass.style.display = "none";
            }
        }); 
    });
    // function drop(){
    //     let className = $(this).val();
    //     console.log(className);
    //     let currentClass = document.getElementById(className);
    //     if(currentClass.style.display === "none"){
    //         currentClass.style.display = "block";


    //     } else{
    //         currentClass.style.display = "none";
    //     }
    // }
</script>
</html>