<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/team_review.css' %}">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>

    <body>
        
        {% include 'navbar.html' %}

            <div class="team_review-container">

                <h1 class="team_review-title">{{project.title}}</h1>
                <p class="team_review-list">- 팀원 평가 -</p>
            
                {% csrf_token %}
                    
                    <!-- {% if error %}
                        <p class="team_review-error">{{error}}</p>
                    {% endif %} -->
                    <!-- <option value="{{ education.id }}">{{ education.education }}</option> -->
                    

                    
                  {% for member in members %}

                  
                  <div class="team_review-head">
                      
                      <span class="team_review-name">
                        
                        {% for profile in profiles %}    
                          {% if member.user_id == profile.user_id %}
                            <img src="{{profile.photo.url}}" alt="">  
                            {{profile.photo}}    
                            {{profile.name}}
                          {% endif %}
                        {% endfor %}
          
                      </span>

                      <span class="star-input">
                        <input class="radio_{{member.id}}" type="radio" name="star-input_{{member.id}}" id="s1" value="1"><label class="star mem_{{member.id}}_1" mem_id="{{member.id}}" for="p1"></label>
                        
                        <input class="radio_{{member.id}}" type="radio" name="star-input_{{member.id}}" id="s2" value="2"><label class="star mem_{{member.id}}_2" mem_id="{{member.id}}" for="s2"></label>
                        
                        <input class="radio_{{member.id}}" type="radio" name="star-input_{{member.id}}" id="s3" value="3"><label class="star mem_{{member.id}}_3" mem_id="{{member.id}}" for="s3"></label>
                        
                        <input class="radio_{{member.id}}" type="radio" name="star-input_{{member.id}}" id="s4" value="4"><label class="star mem_{{member.id}}_4" mem_id="{{member.id}}" for="s4"></label>
                        
                        <input class="radio_{{member.id}}" type="radio" name="star-input_{{member.id}}" id="s5" value="5"><label class="star mem_{{member.id}}_5" mem_id="{{member.id}}" for="s5"></label>
                        
                      </span>

                  </div>          

                  <textarea class="team_review-box content_{{member.id}}" name="team_review-content"></textarea>

                  {% endfor %}
                    
                  <input class="team_review-submit" type="button" value="등록하기">
                  
            </div>


        {% include 'footer.html' %} 

    </body>

    <script>
      $('.team_review-submit').on("click", function(){
        var id_list = []  // 1, 4, 5
        {% for member in members %}
          id_list.push({{member.id}});
        {% endfor %}
        var content_list = [] // 1번 c, 2번 c, 3번 c
        for(const item of id_list){
          content_list.push($('.content_'+item).val());
        }
        var rating_list= []
        var flag = 1;
        for(const item of id_list){
          // console.log($("input[name='star-input_3']").val())
          len = document.getElementsByClassName('active radio_' + item);
          // console.log($($("input[name=star-input_"+item+"][class=active]")))
          // rating_list.push($('.radio_'+item).val());
          if(len.length==0){
            alert("별점은 필수!");
            flag = 0;
            break;
          }
          rating_list.push(len.length);
        }
        // console.log(rating_list)
        if(flag){
          var data = {
            'id_list' : id_list,
            'content_list': content_list,
            'rating_list': rating_list, 
            'project_id' : {{project.id}}
          }
          $.ajax({
              type: "POST",
              headers: {
                  'X-CSRFToken' : '{{csrf_token}}'
              },
              url: "{% url 'team_review_form' %}",
              data: JSON.stringify(data),
              success: function(res) {
                  location.href = '/project/team_detail/' + '{{project.id}}'
              },
              error:function(request,status,error){
                  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
              }
          });
        }
        
      });
      $('.star').on("click", function(){
        mem_id = $(this).attr('mem_id');
        val = $(this).prev().val(); 
        $(`input[name=star-input_${mem_id}]`).removeClass('active');
        for(var i=1; i<=val; i++){
          $(`.mem_${mem_id}_${i}`).prev().addClass('active');
        }
      });
      // var starRating = function(){
      //   var $star = $(".star-input"),
      //       $result = $star.find("output>b");
      //   // 별점 영역 안에서 클릭됐을 때 / focus 클래스 추가 
      //   $(document).on("focusin", ".star-input>.input", function(){
      //     console.log(1);
      //     $(this).addClass("focus");
      //   })
      //   // 별점 영역 안에서 클릭됐을 때 / 라디오 영역 바꿔줌
      //   .on("change", ".star-input :radio", function(){
      //     console.log(3);
      //     $result.text($(this).next().text());
      //   })
      //   // 별점 영역 밖에서 클릭됐을 때 / 포커스 클래스 삭제 
      //   .on("focusout", ".star-input>.input", function(){
      //     var $this = $(this);
      //     setTimeout(function(){
      //       if($this.find(":focus").length === 0){
      //         console.log(2);
      //         $this.removeClass("focus");
      //       }
      //     }, 100);
      //   })
      //   // 호버링 시 실행되는 함수 / 마우스커서가 별점 안에 있을 떄
      //   .on("mouseover", ".star-input label", function(){
      //     console.log(4);
      //     $result.text($(this).text());
      //   })
      //   // 호버링 시 실행되는 함수 / 마우스커서가 별점 밖에 있을 떄
      //   .on("mouseleave", ".star-input>.input", function(){
      //     console.log(5);
      //     var $checked = $star.find(":checked");
      //     if($checked.length === 0){
      //       $result.text("0");
      //     }else {
      //       $result.text($checked.next().text());
      //     }
      //   });
      // };
      // starRating();
    </script>

</html>
