{% load static %}

<nav class="navbar-nav-container">
    <div class="navbar-left-container">
        <a href="{% url 'home' %}"><img class="navbar-logo" src="{% static 'image/Logo.png' %}" alt=""></a>

        <ul class="navbar-menu-container spoqa-regular">
            <li class="navbar-menu-item"><a href="{% url 'team_search' %}">팀 찾기</a></li>
            <li class="navbar-menu-item"><a href="{% url 'member_search' %}">팀원 찾기</a></li>
            <li class="navbar-menu-item"><a href="{% url 'info' %}">정보 찾기</a></li>
            <li class="navbar-menu-item"><a href="{% url 'community' %}">커뮤니티</a></li>
        </ul>
    </div>

    <div class="navbar-my-container spoqa-regular">
        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'alarm_detail' %}"><img src="{% static 'image/noti-active.png' %}" alt="" onclick="newNoti(this)"></a>
            </div>

            <div>
                <a href="{% url 'message' %}"><img src="{% static 'image/message-active.png' %}" alt="" onclick="newMessage(this)"></a>
            </div>

            <ul class="">
                <li class="navbar-my-item"><a href="{% url 'mypage' %}">마이페이지</a></li>
                <li class="navbar-my-item"><a href="{% url 'logout' %}">로그아웃</a></li>
            </ul>
        {% else %}
            <ul class="">
                <li class="navbar-my-item"><a href="{% url 'login' %}">로그인/</a><a href="{% url 'signup'  %}">회원가입</a></li>
            </ul>
        {% endif %}
    </div>
</nav>

